<div class="dice-roll chat-message">
    <h2>{{title}}</h2>
    {{effet}}
    <div class="roll-summary">
        <div class="dice-formula">
            <b>{{roll.formula}}</b>
        </div>
    </div>
    {{#if (eq state "Crit")}}
    <div class="dice-sucess">{{localize "WITCHER.Crit"}}</div>
    {{/if}}

    {{#if (eq state "Fumble")}}
    <div class="dice-fail">{{localize "WITCHER.Fumble"}}</div>
    {{/if}}
    {{> "templates/dice/roll.html"}}
    
    <div  class="dice-display">
        <b>{{roll.total}}</b>
    </div>
</div>
