<div class="dice-roll chat-message">
    <h2>{{title}}</h2>
    <div><b>Sta Cost: </b>{{staCost}}</div>
    {{#if effet}}
    <div><b>Effet: </b>{{effet}}</div>
    {{/if}}
    {{#if range}}
    <div><b>Range: </b>{{range}}</div>
    {{/if}}
    {{#if duration}}
    <div><b>Duration: </b>{{duration}}</div>
    {{/if}}
    {{#if defence}}
    <div><b>Defence: </b>{{defence}}</div>
    {{/if}}
    {{#if preparationTime}}
    <div><b>Preparation Time: </b>{{preparationTime}}</div>
    {{/if}}
    {{#if dificultyCheck}}
    <div><b>DC: </b>{{dificultyCheck}}</div>
    {{/if}}
    {{#if components}}
    <div><b>Components: </b>{{components}}</div>
    {{/if}}
    {{#if alternateComponents}}
    <div><b>Alternate Components: </b>{{alternateComponents}}</div>
    {{/if}}
    
    {{#if liftRequirement}}
    <div><b>Requirement To Lift: </b>{{liftRequirement}}</div>
    {{/if}}

    {{> "templates/dice/roll.html"}}
    <div  class="dice-display">
        <b>{{roll.total}}</b>
    </div>
</div>
