<div class="dice-roll chat-message">
    <h2>{{title}}</h2>
    <div><b>{{localize "WITCHER.Spell.StaCost"}}: </b>{{staCost}}</div>
    {{#if effet}}
    <div><b>{{localize "WITCHER.Spell.Effect"}}: </b>{{effet}}</div>
    {{/if}}
    {{#if range}}
    <div><b>{{localize "WITCHER.Spell.Range"}}: </b>{{range}}</div>
    {{/if}}
    {{#if duration}}
    <div><b>{{localize "WITCHER.Spell.Duration"}}: </b>{{duration}}</div>
    {{/if}}
    {{#if defence}}
    <div><b>{{localize "WITCHER.Spell.Defence"}}: </b>{{defence}}</div>
    {{/if}}
    {{#if preparationTime}}
    <div><b>{{localize "WITCHER.Spell.PrepTime"}}: </b>{{preparationTime}}</div>
    {{/if}}
    {{#if dificultyCheck}}
    <div><b>{{localize "WITCHER.DC"}}: </b>{{dificultyCheck}}</div>
    {{/if}}
    {{#if components}}
    <div><b>{{localize "WITCHER.Spell.Components"}}: </b>{{components}}</div>
    {{/if}}
    {{#if alternateComponents}}
    <div><b>{{localize "WITCHER.Spell.AlternateComponents"}}: </b>{{alternateComponents}}</div>
    {{/if}}
    
    {{#if liftRequirement}}
    <div><b>{{localize "WITCHER.Spell.Requirements"}}: </b>{{liftRequirement}}</div>
    {{/if}}

    {{> "templates/dice/roll.html"}}
    <div  class="dice-display">
        <b>{{roll.total}}</b>
    </div>
</div>
