<div class="left-sidebar">
    <div class="stat-title">
        <label>Current/Max</label>
    </div>
    {{#each data.stats as |details stat|}}
    <div class="stat-display" data-stat="{{stat}}">
        <label class="stat-label"><a class="stat-roll">{{localize details.label}}</a></label> 
        <input class="stat" name="data.stats.{{stat}}.current" type="text" value="{{details.current}}" placeholder="0" data-dtype="Number"/>
        <input class="stat" name="data.stats.{{stat}}.max" type="text" value="{{details.max}}" placeholder="0" data-dtype="Number"/>
    </div>
    {{/each}}

    <div>
        <label> Total Stats</label>
        <input class="small" type="text" value="{{totalStats}}" placeholder="0" data-dtype="Number" readonly/>
    </div>
</div>
<div class="header-center">
    <div class="flexrow">
        <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </div>
    <div class="flex ressource">
        <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div>
            {{#each data.coreStats as |details coreStat|}}
            <div class="stat-display">
                <label>{{localize details.label}}</label> 
                <input class="header-stat" type="text" placeholder="0" data-dtype="Number" readonly/>
            </div>
            {{/each}}
            <hr />
            <div class="flex">
                <label class="wound">Wound Treshold</label> 
                <input class="small" name="data.woundTreshold" type="text" value="{{data.woundTreshold}}" tooltip="test" placeholder="0" data-dtype="Number"/>
            </div>
        </div>
    </div>
    <div class="flexrow ressource">
        <div class="flex">
            <label><b>Race</b></label>
            {{race.name}}
        </div>
        <div class="flex">
            <label><b>Gender</b></label>
            <input name="data.gender" type="text" value="{{data.gender}}" placeholder=""/>
        </div>
        <div class="flex">
            <label><b>Age</b></label>
            <input class="small" name="data.age" type="text" value="{{data.age}}" placeholder="0" data-dtype="Number"/>
        </div>
    </div>
    <div class="flexrow ressource">
        <div class="flex">
            <label><b>Profession</b></label>
            {{profession.name}}
        </div>
        <div class="flex">
            <label><b>Origin</b></label>
            {{data.general.homeland.value}}
        </div>
    </div>
</div>    
<div class="right-sidebar">
    <div class="char-info">
        <div class="flexrow">
            <div>
                <label>HP</label>
                <div class="hp-content"> 
                    {{#if data.woundTresholdApplied}}
                    <img class="hp-img" src="systems/TheWitcherTRPG/assets/images/health-down.png"/>
                    {{/if}}
                    {{#unless data.woundTresholdApplied}}
                    <img class="hp-img" src="systems/TheWitcherTRPG/assets/images/health.png"/>
                    {{/unless}}
                    <input class="hp-value" name="data.derivedStats.hp.value" type="text" value="{{data.derivedStats.hp.value}}" placeholder="0" data-dtype="Number"/>
                    <div class="hp-max">
                        /
                        {{data.derivedStats.hp.max}}
                    </div>
                </div>
                <label>Stamina</label>
                <div class="stamina">
                    <input class="sta-value" name="data.derivedStats.sta.value" type="text" value="{{data.derivedStats.sta.value}}" placeholder="0" data-dtype="Number"/>
                    <div class="sta-max">
                        /
                        {{data.derivedStats.sta.max}}
                    </div>
                </div>
                <label>Luck</label> 
                <div class="luck">
                    <img class="luck-img" src="systems/TheWitcherTRPG/assets/images/clover.png"/>
                    <input class="luck-value" name="data.stats.luck.total" type="text" value="{{data.stats.luck.total}}" placeholder="0" data-dtype="Number"/>
                    <div class="luck-max">
                        /
                        {{data.stats.luck.current}}
                    </div>
                </div>
                <label>{{localize data.derivedStats.resolve.label}}</label> 
                <div class="resolve">
                    <input class="resolve-value" name="data.derivedStats.resolve.value" type="text" value="{{data.derivedStats.resolve.value}}" placeholder="0" data-dtype="Number"/>
                    <div class="resolve-max">
                        /
                        {{data.derivedStats.resolve.max}}
                    </div>
                </div>
            </div>
            <div class="text-centered">
                <div class="ressource">
                    <label class="stat-label"><a class="init-roll">Initiative</a></label>
                </div>
                <div class="ressource">
                    <label class="stat-label"><a class="death-roll">Stun/Death</a></label>
                </div>
                <div class="ressource">
                    <label class="stat-label"><a class="crit-roll">Crit/Fumble</a></label>
                </div>
                <div class="ressource">
                    <label class="stat-label"><a class="defence-roll">Defense</a></label>
                </div>
            </div>
        </div>
    </div>
</div>    
