<a class="change-skill-list"><i class="fas fa-list"></i></a>
<div class="skill" data-skilltype="int">
    <div class="monster-skill">
        {{#unless data.pannels.intIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Intelligence"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.intIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Intelligence"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.intIsOpen}}
        <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.intIsOpen}}
        <table class="skill-list">
    {{/if}}
    {{#each data.skills.int as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="int"}}
    {{/each}}
    </table>
</div>
<div class="skill" data-skilltype="ref">
    <div class="monster-skill">
        {{#unless data.pannels.refIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Reflex"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.refIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Reflex"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.refIsOpen}}
    <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.refIsOpen}}
    <table class="skill-list">
    {{/if}}
    {{#each data.skills.ref as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="ref"}}
    {{/each}}
    </table>
</div>
<div class="skill" data-skilltype="dex">
    <div class="monster-skill">
        {{#unless data.pannels.dexIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Dexterity"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.dexIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Dexterity"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.dexIsOpen}}
        <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.dexIsOpen}}
        <table class="skill-list">
    {{/if}}
    {{#each data.skills.dex as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="dex"}}
    {{/each}}
    </table>
</div>
<div class="skill" data-skilltype="body">
    <div class="monster-skill">
        {{#unless data.pannels.bodyIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Body"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.bodyIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Body"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.bodyIsOpen}}
        <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.bodyIsOpen}}
        <table class="skill-list">
    {{/if}}
    {{#each data.skills.body as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="body"}}
    {{/each}}
    </table>
</div>
<div class="skill" data-skilltype="emp">
    <div class="monster-skill">
        {{#unless data.pannels.empIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Empathy"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.empIsOpen}}
        <a class="skill-display">{{localize "WITCHER.Actor.Skill.Empathy"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.empIsOpen}}
        <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.empIsOpen}}
        <table class="skill-list">
    {{/if}}
    {{#each data.skills.emp as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="emp"}}
    {{/each}}
    </table>
</div>
<div class="skill" data-skilltype="cra">
    <div class="monster-skill">
        {{#unless data.pannels.craIsOpen}}
            <a class="skill-display">{{localize "WITCHER.Actor.Skill.Crafting"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.craIsOpen}}
            <a class="skill-display">{{localize "WITCHER.Actor.Skill.Crafting"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.craIsOpen}}
        <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.craIsOpen}}
        <table class="skill-list">
    {{/if}}
    {{#each data.skills.cra as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="cra"}}
    {{/each}}
    </table>
</div>
<div class="skill" data-skilltype="will">
    <div class="monster-skill">
        {{#unless data.pannels.willIsOpen}}
            <a class="skill-display">{{localize "WITCHER.Actor.Skill.Willpower"}}<i class="expander fas fa-chevron-right"></i></a>
        {{/unless}}
        {{#if data.pannels.willIsOpen}}
            <a class="skill-display">{{localize "WITCHER.Actor.Skill.Willpower"}}<i class="expander fas fa-chevron-down"></i></a>
        {{/if}}
    </div>
    {{#unless data.pannels.willIsOpen}}
        <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.willIsOpen}}
        <table class="skill-list">
    {{/if}}
    {{#each data.skills.will as |skill name|}}
{{> "systems/TheWitcherTRPG/templates/partials/monster-skill-display.html" skill=skill name=name stat="will"}}
    {{/each}}
    </table>
</div>
