<h2>{{localize "WITCHER.Loot.Weapons"}} <a class="add-item" data-itemType="weapon"><i class="fas fa-plus"></i></a></h2>
<table class="weapon-table">
    <tr>
        <td></td>
        <td></td>
        <td><b>{{localize "WITCHER.table.Name"}}</b></td>
        <td><b>{{localize "WITCHER.Weapon.Damage"}}</b></td>
        <td><b>{{localize "WITCHER.Item.ROF"}}</b></td>
    </tr>
    {{#each weapons as |weapon id|}}
    <tbody class="item" data-item-id="{{weapon._id}}">
        <tr>
            <td>
                <a class="item-weapon-display"><i class="fas fa-info"></i></a>
            </td>
            <td>
                <img src="{{weapon.img}}" class="item-img dragable" draggable="true" data-id="{{weapon._id}}"/>
            </td>
            <td><a class="item-roll">{{weapon.name}}</a></td>
            <td><input class="inline-edit" data-field="data.damage" type="text" value="{{weapon.data.damage}}" placeholder="" /></td>
            <td><input class="inline-edit small" data-field="data.rateOfFire" type="text" value="{{weapon.data.rateOfFire}}" data-dtype="Number"/></td>
        </tr>
        <tr class="item-info hidden" >
            <td>
                <a class="item-edit"><i class="fas fa-edit"></i></a>
            </td>
            <td colspan="3">
                <div class="monster-flex"><b>{{localize "WITCHER.Spell.Effect"}} :</b></label>
                    {{#each weapon.data.effects as |effect id|}}
                        <div class="monster-flex">
                        {{effect.name}}
                        {{#if effect.percentage}}
                            ({{effect.percentage}})%   
                        {{/if}}
                        ,
                        </div>
                    {{/each}}
                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>
<div class="flex">
    <h2 class="flex1">Loot <a class="add-item" data-itemType="valuable"><i class="fas fa-plus"></i></a></h2>
    <a class="button-roll export-loot">{{localize "WITCHER.Monster.exportLoot"}}</a>
</div>
<table>
    {{#each loots as |valuable id|}}
    <tr class="item" data-item-id="{{valuable._id}}">
        <td><img src="{{valuable.img}}" class="item-img dragable" draggable="true" data-id="{{valuable._id}}"/></td>
        <td><input class="small-medium inline-edit" data-field="data.quantity" type="text" value="{{data.quantity}}"  placeholder="1d6" /></td>
        <td><input class="inline-edit" data-field="name" type="text" value="{{valuable.name}}" placeholder="name" /></td>
        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
    {{/each}}
</table>