
<div class="magic-info">
    <div class="flex">
        <input class="focus" name="data.focus1.name" type="text" value="{{data.focus1.name}}" placeholder="First Focus" />
        <input class="focus-value" name="data.focus1.value" type="text" value="{{data.focus1.value}}" placeholder="0" />
    </div>
    <div class="flex">
        <input class="focus" name="data.focus2.name" type="text" value="{{data.focus2.name}}" placeholder="Second Focus" />
        <input class="focus-value" name="data.focus2.value" type="text" value="{{data.focus2.value}}" placeholder="0" />
    </div>
    <div class="flex">
        <input class="focus" name="data.focus3.name" type="text" value="{{data.focus3.name}}" placeholder="Third Focus" />
        <input class="focus-value" name="data.focus3.value" type="text" value="{{data.focus3.value}}" placeholder="0" />
    </div>
    <div class="flex">
        <input class="focus" name="data.focus4.name" type="text" value="{{data.focus4.name}}" placeholder="Third Focus" />
        <input class="focus-value" name="data.focus4.value" type="text" value="{{data.focus4.value}}" placeholder="0" />
    </div>
</div>
<div class="spell" data-spelltype="noviceSpell">
    <h3>{{localize "WITCHER.Spell.Spells"}} - {{localize "WITCHER.Spell.Novice"}}
        {{#unless data.pannels.noviceSpellIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-right"></i></a></h3>
        {{/unless}}
        {{#if data.pannels.noviceSpellIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-down"></i></a></h3>
        {{/if}}
    {{#unless data.pannels.noviceSpellIsOpen}}
    <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.noviceSpellIsOpen}}
    <table class="skill-list">
    {{/if}}
        <tr> 
            <td></td> 
            <td></td> 
            <td><b>{{localize "WITCHER.table.Name"}}</b></td>
            <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
            <td></td> 
        </tr>
        {{#each noviceSpells as |spell id|}}
        <tbody class="item" data-item-id="{{spell._id}}">
            <tr>
                <td>
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                </td>
                <td><img src="{{spell.img}}" class="item-img dragable" draggable="true" data-id="{{spell._id}}"/></td>
                <td><a class="spell-roll">{{spell.name}}</a></td>
                <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{spell.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
<div class="spell" data-spelltype="journeymanSpell">
    <h3>{{localize "WITCHER.Spell.Spells"}} - {{localize "WITCHER.Spell.Journeyman"}}
        {{#unless data.pannels.journeymanSpellIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-right"></i></a></h3>
        {{/unless}}
        {{#if data.pannels.journeymanSpellIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-down"></i></a></h3>
        {{/if}}
    {{#unless data.pannels.journeymanSpellIsOpen}}
    <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.journeymanSpellIsOpen}}
    <table class="skill-list">
    {{/if}}
        <tr> 
            <td></td> 
            <td></td> 
            <td><b>{{localize "WITCHER.table.Name"}}</b></td>
            <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
            <td></td> 
        </tr>
        {{#each journeymanSpells as |spell id|}}
        <tbody class="item" data-item-id="{{spell._id}}">
            <tr>
                <td>
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                </td>
                <td><img src="{{spell.img}}" class="item-img dragable" draggable="true" data-id="{{spell._id}}"/></td>
                <td><a class="spell-roll">{{spell.name}}</a></td>
                <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{spell.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
<div class="spell" data-spelltype="masterSpell">
    <h3>{{localize "WITCHER.Spell.Spells"}} - {{localize "WITCHER.Spell.Master"}}
        {{#unless data.pannels.masterSpellIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-right"></i></a></h3>
        {{/unless}}
        {{#if data.pannels.masterSpellIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-down"></i></a></h3>
        {{/if}}
    {{#unless data.pannels.masterSpellIsOpen}}
    <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.masterSpellIsOpen}}
    <table class="skill-list">
    {{/if}}
        <tr> 
            <td></td> 
            <td></td> 
            <td><b>{{localize "WITCHER.table.Name"}}</b></td>
            <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
            <td></td> 
        </tr>
        {{#each masterSpells as |spell id|}}
        <tbody class="item" data-item-id="{{spell._id}}">
            <tr>
                <td>
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                </td>
                <td><img src="{{spell.img}}" class="item-img dragable" draggable="true" data-id="{{spell._id}}"/></td>
                <td><a class="spell-roll">{{spell.name}}</a></td>
                <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{spell.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
<div class="spell" data-spelltype="ritual">
    <h3>Rituals 
        {{#unless data.pannels.ritualIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-right"></i></a></h3>
        {{/unless}}
        {{#if data.pannels.ritualIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-down"></i></a></h3>
        {{/if}}
    {{#unless data.pannels.ritualIsOpen}}
    <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.ritualIsOpen}}
    <table class="skill-list">
    {{/if}}
        <tr> 
            <td></td> 
            <td></td> 
            <td><b>{{localize "WITCHER.table.Name"}}</b></td>
            <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
            <td></td> 
        </tr>
        {{#each rituals as |ritual id|}}
        <tbody class="item" data-item-id="{{ritual._id}}">
            <tr>
                <td>
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                </td>
                <td><img src="{{ritual.img}}" class="item-img dragable" draggable="true" data-id="{{ritual._id}}"/></td>
                <td><a class="spell-roll">{{ritual.name}}</a></td>
                <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{ritual.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
<div class="spell" data-spelltype="hex">
    <h3>Hexes 
        {{#unless data.pannels.hexIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-right"></i></a></h3>
        {{/unless}}
        {{#if data.pannels.hexIsOpen}}
        <a class="spell-display"><i class="fas fa-chevron-down"></i></a></h3>
        {{/if}}
    {{#unless data.pannels.hexIsOpen}}
    <table class="skill-list hidden">
    {{/unless}}
    {{#if data.pannels.hexIsOpen}}
    <table class="skill-list">
    {{/if}}
        <tr> 
            <td></td> 
            <td></td> 
            <td><b>{{localize "WITCHER.table.Name"}}</b></td>
            <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
            <td></td> 
        </tr>
        {{#each hexes as |hex id|}}
        <tbody class="item" data-item-id="{{hex._id}}">
            <tr>
                <td>
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                </td>
                <td><img src="{{hex.img}}" class="item-img dragable" draggable="true" data-id="{{hex._id}}"/></td>
                <td><a class="spell-roll">{{hex.name}}</a></td>
                <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{hex.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>