
<div class="skill">
    <h3>Intelligence <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.int as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.int.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="skill">
    <h3>Reflex <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.ref as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.ref.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="skill">
    <h3>Dexterity <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.dex as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.dex.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="skill">
    <h3>Body <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.body as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.body.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="skill">
    <h3>Empathy <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.emp as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.emp.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="skill">
    <h3>Craft <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.cra as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.cra.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="skill">
    <h3>Will <a class="skill-display"><i class="fas fa-chevron-right"></i></a></h3>
    <table class="skill-list hidden">
        {{#each data.skills.will as |skill st|}}
        <tr>
            <td class="{{st}} skill">
                <a><span class="rollable skill {{st}}" id="{{st}}-rollable">{{localize skill.label}}</span></a>
            </td>
            <td class="input-skill">
                <input class="stats {{st}}" name="data.skills.will.{{st}}.value" type="number" value="{{skill.value}}" placeholder="0"/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>