<div class="substances-section">
    <h2>{{localize "WITCHER.Inventory.Substances"}}</h2>
    <div class="substance" data-subtype="vitriol">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Vitriol"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/vitriol.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="vitriol"><i class="fas fa-plus"></i></a>
            <span>{{vitriolCount}}</span> 
            {{#unless data.pannels.vitriolIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.vitriolIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.vitriolIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.vitriolIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-vitriol-table">
                {{#each substancesVitriol as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" type="number" data-field="data.quantity" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="rebis">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Rebis"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/rebis.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="rebis"><i class="fas fa-plus"></i></a>
            <span>{{rebisCount}}</span> 
            {{#unless data.pannels.rebisIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.rebisIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.rebisIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.rebisIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-rebis-table">
                {{#each substancesRebis as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="aether"> 
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Aether"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/aether.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="aether"><i class="fas fa-plus"></i></a>
            <span>{{aetherCount}}</span> 
            {{#unless data.pannels.aetherIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.aetherIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.aetherIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.aetherIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-aether-table">
                {{#each substancesAether as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="quebrith"> 
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Quebrith"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/quebrith.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="quebrith"><i class="fas fa-plus"></i></a>
            <span>{{quebrithCount}}</span> 
            {{#unless data.pannels.quebrithIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.quebrithIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.quebrithIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.quebrithIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-quebrith-table">
                {{#each substancesQuebrith as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="hydragenum">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Hydragenum"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/hydragenum.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="hydragenum"><i class="fas fa-plus"></i></a>
            <span>{{hydragenumCount}}</span> 
            {{#unless data.pannels.hydragenumIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.hydragenumIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.hydragenumIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.hydragenumIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-hydragenum-table">
                {{#each substancesHydragenum as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="vermilion">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Vermilion"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/vermilion.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="vermilion"><i class="fas fa-plus"></i></a>
            <span>{{vermilionCount}}</span> 
            {{#unless data.pannels.vermilionIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.vermilionIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.vermilionIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.vermilionIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-vermilion-table">
                {{#each substancesVermilion as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="sol">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Sol"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/sol.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="sol"><i class="fas fa-plus"></i></a>
            <span>{{solCount}}</span> 
            {{#unless data.pannels.solIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.solIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.solIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.solIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-sol-table">
                {{#each substancesSol as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="caelum">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Caelum"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/caelum.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="caelum"><i class="fas fa-plus"></i></a>
            <span>{{caelumCount}}</span> 
            {{#unless data.pannels.caelumIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.caelumIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.caelumIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.caelumIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-caelum-table">
                {{#each substancesCaelum as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <div class="substance" data-subtype="fulgur">
        <div class="substance-header">
            <label>{{localize "WITCHER.Inventory.Fulgur"}}</label>
            <img src="systems/TheWitcherTRPG/assets/images/fulgur.png" class="substance-img" /> 
            <a class="add-item" data-itemType="component" data-subtype="fulgur"><i class="fas fa-plus"></i></a>
            <span>{{fulgurCount}}</span> 
            {{#unless data.pannels.fulgurIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-right"></i></a></div>
            {{/unless}}
            {{#if data.pannels.fulgurIsOpen}}
            <a class="item-substance-display"><i class="fas fa-chevron-down"></i></a></div>
            {{/if}}
        {{#unless data.pannels.fulgurIsOpen}}
        <div class="substance-list hidden">
        {{/unless}}
        {{#if data.pannels.fulgurIsOpen}}
        <div class="substance-list">
        {{/if}}
            <table class="substances-fulgur-table">
                {{#each substancesFulgur as |substance id|}}
                    <tr  class="item" data-item-id="{{substance._id}}">
                        <td><img src={{substance.img}} class="substance-img dragable" draggable="true" data-id="{{substance._id}}"/> </td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{substance.data.quantity}}" placeholder="0" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{substance.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit" data-field="data.weight" type="text" value="{{substance.data.weight}}" placeholder="weight" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>