<div class="flex">
    <div class="weapon-section">
        <div class="flex">
            <div class="currency"> <label>{{localize "WITCHER.Currency.bizant"}}</label><input class="small-medium" name="data.currency.bizant" type="number" value="{{data.currency.bizant}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.ducat"}}</label><input class="small-medium" name="data.currency.ducat" type="number" value="{{data.currency.ducat}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.lintar"}}</label><input class="small-medium" name="data.currency.lintar" type="number" value="{{data.currency.lintar}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.floren"}}</label><input class="small-medium" name="data.currency.floren" type="number" value="{{data.currency.floren}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.crown"}}</label><input class="small-medium" name="data.currency.crown" type="number" value="{{data.currency.crown}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.oren"}}</label><input class="small-medium" name="data.currency.oren" type="number" value="{{data.currency.oren}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.falsecoin"}}</label><input class="small-medium" name="data.currency.falsecoin" type="number" value="{{data.currency.falsecoin}}" placeholder="0" data-dtype="Number"/></div>
        </div>

        <h2>{{localize  "WITCHER.Inventory.Weapons"}} <a class="add-item" data-itemType="weapon"><i class="fas fa-plus"></i></a></h2>
        <table class="weapon-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.table.Range"}}</b></td>
                <td><b>{{localize "WITCHER.table.Damage"}}</b></td>
                <td><b>{{localize "WITCHER.table.Reliability"}}</b></td>
                <td><b>{{localize "WITCHER.table.Equipped"}}</b></td>
            </tr>
            {{#each weapons as |weapon id|}}
            <tbody class="item" data-item-id="{{weapon._id}}" data-type="weapon">
                <tr>
                    <td>
                        <a class="item-weapon-display"><i class="fas fa-info"></i></a>
                    </td>
                    <td><img src="{{weapon.img}}" class="item-img dragable" draggable="true" data-id="{{weapon._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{weapon.data.quantity}}" data-dtype="Number"/></td>
                    <td><a class="item-roll">{{weapon.name}}</a></td>
                    <td><input class="inline-edit range-info" data-field="data.range" type="text" value="{{weapon.data.range}}" placeholder="" /></td>
                    <td><input class="inline-edit damage-info" data-field="data.damage" type="text" value="{{weapon.data.damage}}" placeholder="" /></td>
                    <td><div class="flex"><input class="inline-edit reliable-info" data-field="data.reliable" type="text" value="{{weapon.data.reliable}}" data-dtype="Number"/>/{{weapon.data.maxReliability}}</div></td>
                    <td><input class="inline-edit" data-field="data.equiped" type="checkbox" value={{checked data.equiped}} {{checked data.equiped}}/></td>
                </tr>
                <tr class="item-info hidden" >
                    <td colspan="7">
                        <table>
                            <tr>
                                <td></td> 
                                <td><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Weapon.Type"}} :</b></label>{{weapon.data.type}}</div></td>
                                {{#unless weapon.data.isAmmo}}
                                <td><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Weapon.Hands"}} :</b></label>{{weapon.data.hands}}</div></td>
                                {{/unless}}
                                {{#if weapon.data.hands}}
                                <td></td> 
                                <td></td> 
                                {{/if}}
                                <td><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Weapon.Concealement"}} :</b></label>{{weapon.data.conceal}}</div></td>
                                <td><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Item.Weight"}} :</b></label>{{weapon.data.weight}}</div></td>
                                <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                            </tr>
                            {{#unless weapon.data.isAmmo}}
                            <tr >
                                <td colspan="8">
                                    <div class="flex">
                                        {{localize "WITCHER.Weapon.Enhancement"}}:
                                        {{#each weapon.data.enhancementItems as |enhancement id|}}
                                            {{#if enhancement.img}}
                                                <div class="item item-enhancement" data-item-id="{{enhancement._id}}">
                                                    <img class="item-edit no-margin" src="{{enhancement.img}}"/>
                                                </div>
                                            {{/if}}
                                            {{#unless enhancement.img}}
                                                <div class="item-enhancement">
                                                    <a><div class="enhancement-slot enhancement-weapon-slot" ></div></a>
                                                </div>
                                            {{/unless}}
                                        {{/each}}
                                    </div>
                                </td>
                            </tr>
                            {{/unless}}
                            <tr >
                                {{#unless weapon.data.isAmmo}}
                                <td colspan="7">
                                {{/unless}}
                                {{#if weapon.data.isAmmo}}
                                <td colspan="6">
                                {{/if}}
                                    <div class="flex">
                                    <b>{{localize "WITCHER.Item.Effect"}} :</b>
                                    {{#each weapon.data.effects as |effect id|}}
                                        <div class="flex">
                                        {{effect.name}}
                                        {{#if effect.percentage}}
                                            ({{effect.percentage}})%   
                                        {{/if}}
                                        ,
                                        </div>
                                    {{/each}}
                                    </div>
                                </td>
                                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <div class="armor-section">
        <h2>{{localize  "WITCHER.Inventory.Armor"}} <a class="add-item" data-itemType="armor"><i class="fas fa-plus"></i></a></h2>
        
        <table class="armor-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.table.Equipped"}}</b></td>
                <td><b>{{localize "WITCHER.table.StoppingPower"}}</b></td>
                <td><b>{{localize "WITCHER.table.ResBludgeon"}}</b></td>
                <td><b>{{localize "WITCHER.table.ResSlashing"}}</b></td>
                <td><b>{{localize "WITCHER.table.ResPiercing"}}</b></td>
                <td></td> 
            </tr>
            {{#each armors as |armor id|}}
            <tbody class="item" data-item-id="{{armor._id}}"  data-type="armor">
                <tr>
                    <td>
                        <a class="item-armor-display"><i class="fas fa-info"></i></a>
                    </td>
                    <td><img src="{{armor.img}}" class="item-img dragable" draggable="true" data-id="{{armor._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{armor.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{armor.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit" data-field="data.equiped" type="checkbox" value={{checked data.equiped}} {{checked data.equiped}}/></td>
                    <td>
                        {{#if (eq data.location "Head")}}
                        <div class="flex sp">
                            <div class="icon-spacer"></div>
                            <i class="fas fa-hard-hat"></i>
                            <input class="inline-edit small" data-field="data.headStopping" type="text" value="{{armor.data.headStopping}}" data-dtype="Number"/> /{{armor.data.headMaxStopping}}
                        </div>
                        {{/if}}

                        {{#if (eq data.location "Torso")}}
                        <div class="flex sp">
                            <div class="icon-spacer"></div>
                            <i class="fas fa-tshirt"></i>
                            <input class="inline-edit small" data-field="data.torsoStopping" type="text" value="{{armor.data.torsoStopping}}" data-dtype="Number"/> /{{armor.data.torsoMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationLeft"}}
                            <i class="fas fa-hand-paper"></i>
                            <input class="inline-edit small" data-field="data.leftArmStopping" type="text" value="{{armor.data.leftArmStopping}}" data-dtype="Number"/> /{{armor.data.leftArmMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationRight"}}
                            <i class="fas fa-hand-paper"></i>
                            <input class="inline-edit small" data-field="data.rightArmStopping" type="text" value="{{armor.data.rightArmStopping}}" data-dtype="Number"/> /{{armor.data.rightArmMaxStopping}}
                        </div>
                        {{/if}}

                        {{#if (eq data.location "Leg")}}
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationLeft"}}
                            <i class="fas fa-shoe-prints"></i>
                            <input class="inline-edit small" data-field="data.leftLegStopping" type="text" value="{{armor.data.leftLegStopping}}" data-dtype="Number"/> /{{armor.data.leftLegMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationRight"}}
                            <i class="fas fa-shoe-prints"></i>
                            <input class="inline-edit small" data-field="data.rightLegStopping" type="text" value="{{armor.data.rightLegStopping}}" data-dtype="Number"/> /{{armor.data.rightLegMaxStopping}}
                        </div>
                        {{/if}}

                        {{#if (eq data.location "FullCover")}}
                        <div class="flex sp">
                            <div class="icon-spacer"></div>
                            <i class="fas fa-hard-hat"></i>
                            <input class="inline-edit small" data-field="data.headStopping" type="text" value="{{armor.data.headStopping}}" data-dtype="Number"/> /{{armor.data.headMaxStopping}}
                        </div>
                        <div class="flex sp">
                            <div class="icon-spacer"></div>
                            <i class="fas fa-tshirt"></i>
                            <input class="inline-edit small" data-field="data.torsoStopping" type="text" value="{{armor.data.torsoStopping}}" data-dtype="Number"/> /{{armor.data.torsoMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationLeft"}}
                            <i class="fas fa-hand-paper"></i>
                            <input class="inline-edit small" data-field="data.leftArmStopping" type="text" value="{{armor.data.leftArmStopping}}" data-dtype="Number"/> /{{armor.data.leftArmMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationRight"}}
                            <i class="fas fa-hand-paper"></i>
                            <input class="inline-edit small" data-field="data.rightArmStopping" type="text" value="{{armor.data.rightArmStopping}}" data-dtype="Number"/> /{{armor.data.rightArmMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationLeft"}}
                            <i class="fas fa-shoe-prints"></i>
                            <input class="inline-edit small" data-field="data.leftLegStopping" type="text" value="{{armor.data.leftLegStopping}}" data-dtype="Number"/> /{{armor.data.leftLegMaxStopping}}
                        </div>
                        <div class="flex sp">
                            {{localize "WITCHER.Armor.LocationRight"}}
                            <i class="fas fa-shoe-prints"></i>
                            <input class="inline-edit small" data-field="data.rightLegStopping" type="text" value="{{armor.data.rightLegStopping}}" data-dtype="Number"/> /{{armor.data.rightLegMaxStopping}}
                        </div>
                        {{/if}}

                        {{#if (eq data.location "Shield")}} 
                            {{localize "WITCHER.table.Reliability"}}
                            <input class="inline-edit small" data-field="data.reliability" type="text" value="{{armor.data.reliability}}" data-dtype="Number"/> /{{armor.data.reliabilityMax}}
                        {{/if}}

                    </td>
                        
                    <td><input type="checkbox" name="data.bludgeoning" {{checked data.bludgeoning}} disabled /></td>
                    <td><input type="checkbox" name="data.slashing" {{checked data.slashing}} disabled /></td>
                    <td><input type="checkbox" name="data.percing" {{checked data.percing}} disabled /></td>
                    
                </tr>
                <tr class="item-info hidden">
                    <td colspan="9">
                        <table>
                            <tr >
                                <td colspan="8">
                                    <div class="flex">
                                        {{localize "WITCHER.Weapon.Enhancement"}}:
                                        {{#each armor.data.enhancementItems as |enhancement id|}}
                                            {{#if enhancement.img}}
                                                <div class="item item-enhancement" data-item-id="{{enhancement._id}}">
                                                    <img class="item-edit no-margin" src="{{enhancement.img}}"/>
                                                </div>
                                            {{/if}}
                                            {{#unless enhancement.img}}
                                                <div class="item-enhancement">
                                                    <a><div class="enhancement-slot enhancement-armor-slot" ></div></a>
                                                </div>
                                            {{/unless}}
                                        {{/each}}
                                    </div>
                                </td>
                            </tr>
                            {{#if (eq type "armor")}}
                                <tr>
                                    <td><div class="flex"> <label class="label-info"><b>{{localize "WITCHER.Armor.Enhancement"}} :</b></label>{{armor.data.enhancements}}</div></td>
                                    <td><div class="flex"> <label class="label-info"><b>{{localize "WITCHER.Armor.EncumbranceValue"}} :</b></label>{{armor.data.encumb}}</div></td>
                                    <td><div class="flex"> <label class="label-info"><b>{{localize "WITCHER.Item.Weight"}} :</b></label>{{armor.data.weight}}</div></td>
                                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td colspan="3">   
                                    <div class="flex">
                                        <b>{{localize "WITCHER.Item.Effect"}} :</b></label>
                                        {{#each armor.data.effects as |effect id|}}
                                            {{effect.name}},
                                        {{/each}}
                                    </div></td>
                                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            {{/if}}
                            {{#if (eq type "enhancement")}}
                                <tr>
                                    <td><div class="flex"> <label class="label-info"><b>{{localize "WITCHER.Armor.EncumbranceValue"}} :</b></label>{{armor.data.encumb}}</div></td>
                                    <td><div class="flex"> <label class="label-info"><b>{{localize "WITCHER.Item.Weight"}} :</b></label>{{armor.data.weight}}</div></td>
                                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><div><b>{{localize "WITCHER.Item.Effect"}} :</b></label>{{armor.data.effect}}</div></td>
                                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            {{/if}}
                        </table>
                    </td>
                    
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>
<div class="flex">
    <div class="valuable-section">
        <h2>{{localize  "WITCHER.Inventory.Valuables"}} <a class="add-item" data-itemType="valuable"><i class="fas fa-plus"></i></a></h2>
        <table class="valuable-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Item.Weight"}}</b></td>
                <td></td> 
            </tr>
            {{#each valuables as |valuable id|}}
            <tbody class="item" data-item-id="{{valuable._id}}">
                <tr>
                    <td>
                        <a class="item-armor-display"><i class="fas fa-info"></i></a>
                    </td>
                    <td><img src="{{valuable.img}}" class="item-img dragable" draggable="true" data-id="{{valuable._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{valuable.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{valuable.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit weight-data" data-field="data.weight" type="text" value="{{valuable.data.weight}}" data-dtype="Number"/></td>
                </tr>
                <tr class="item-info hidden">
                    {{#if (eq type "enhancement")}}
                    <td colspan="4"></td>
                    {{/if}}
                    {{#if (eq type "valuable")}}
                    <td colspan="4"><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Item.Description"}} :</b></label> <div>{{valuable.data.description}}</div></div></td>
                    {{/if}}
                    {{#if (eq type "alchemical")}}
                    <td colspan="4">
                            <div class="flex"><label class="label-info"><b>{{localize "WITCHER.Diagram.craftingTime"}} :</b></label>{{valuable.data.time}}</div>
                            <label class="label-info"><b>{{localize "WITCHER.Item.Effect"}} :</b></label>
                            <div class="alchemical-effect">
                                {{valuable.data.effect}}
                            </div>
                    </td>
                    {{/if}}
                    {{#if (eq type "mount")}}
                    <td colspan="4">
                        <div class="flex">
                            <label class="label-info"><b>{{localize "WITCHER.Mount.Dexterity"}} :</b></label> <div>{{valuable.data.dex}}</div>
                            <label class="label-info"><b>{{localize "WITCHER.Mount.Control"}} :</b></label> <div>{{valuable.data.control}}</div>
                            <label class="label-info"><b>{{localize "WITCHER.Mount.Speed"}} :</b></label> <div>{{valuable.data.speed}}</div>
                            <label class="label-info"><b>{{localize "WITCHER.Mount.Hp"}} :</b></label> <div>{{valuable.data.hp}}</div>
                        </div>
                    </td>
                    {{/if}}
                    {{#if (eq type "mutagen")}}
                    <td colspan="3"><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Mutagen.Type"}} :</b></label> <div>{{valuable.data.type}}</div></div></td>
                    <td><div class="flex"><label class="label-info"><b>{{localize "WITCHER.Mutagen.Source"}} :</b></label> <div>{{valuable.data.source}}</div></div></td>
                    {{/if}}
                    <td>
                        <div>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                            <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                            <a class="item-store"><i class="fas fa-shopping-bag"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>Bags<a class="add-item" data-itemType="container"><i class="fas fa-plus"></i></a></h2>
        <table class="diagram-table">
            {{#each bags as |container id|}}
            <tbody class="item container" data-item-id="{{container._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                            <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                    <td><img src="{{container.img}}" class="item-img dragable" draggable="true" data-id="{{container._id}}"/></td></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{container.name}}" placeholder="name" /></td>
                    <td>
                        {{#unless container.data.itemsDisplayed}}
                        <a class="bag-display-items"><i class="fas fa-chevron-right"></i></a></div>
                        {{/unless}}
                        {{#if container.data.itemsDisplayed}}
                        <a class="bag-display-items"><i class="fas fa-chevron-down"></i></a></div>
                        {{/if}}
                    </td>
                </tr>
                {{#if container.data.itemsDisplayed}}
                {{#each container.items as | object id|}}
                <tr class="item" data-item-id="{{object._id}}">
                    <td></td>
                    <td><img src="{{object.img}}" class="item-img dragable" draggable="true" data-id="{{object._id}}"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{object.name}}" placeholder="name" /></td>
                </tr>
                {{/each}}
                {{/if}}
                <tr>
                    <td colspan="3" >
                        <div class="flex">
                            {{#if (gte container.data.holding container.data.maxCarryingCapacity)}}
                            <div class="weightbar-overweight"></div>
                            {{/if}}    
                            {{#if (lt container.data.holding container.data.maxCarryingCapacity)}}
                            <progress class="weightbar" value="{{container.data.holding}}" max="{{container.data.maxCarryingCapacity}}"></progress>
                            {{/if}}  
                            <span>{{container.data.holding}}/{{container.data.maxCarryingCapacity}} </span>
                        </div>
                    </td>  
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>{{localize  "WITCHER.Inventory.Diagrams"}} <a class="add-item" data-itemType="diagrams"><i class="fas fa-plus"></i></a></h2>
        <table class="diagram-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Diagram.Learned"}}</b></td>
                <td></td> 
            </tr>
            {{#each diagrams as |diagram id|}}
            <tbody class="item" data-item-id="{{diagram._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-armor-display"><i class="fas fa-info"></i></a>
                        </div>
                    </td>
                    <td><img src="{{diagram.img}}" class="item-img dragable" draggable="true" data-id="{{diagram._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{diagram.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{diagram.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit" data-field="data.learned" type="checkbox" value="{{data.learned}}" {{checked data.learned}}/>
                </tr>
                <tr class="item-info hidden">
                    {{#unless diagram.data.isFormulae}}
                    <td colspan="4">
                        <div>
                            <label class="label-info"><b>{{localize "WITCHER.Diagram.craftingDC"}} :</b></label>{{diagram.data.craftingDC}}
                            <label class="label-info"><b>{{localize "WITCHER.Diagram.craftingTime"}} :</b></label>{{diagram.data.craftingTime}}
                            <label class="label-info"><b>{{localize "WITCHER.Diagram.investment"}} :</b></label>{{diagram.data.investement}}
                        </div>
                        <div>
                            <label class="label-info"><b>{{localize "WITCHER.Diagram.components"}} :</b>{{diagram.data.components}}
                        </div>
                    </td>
                    <td>
                        <div class="learned-data">
                            <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    {{/unless}}
                    {{#if diagram.data.isFormulae}}
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label class="label-info"><b>{{localize "WITCHER.Diagram.alchemyDC"}} :</b></label>{{diagram.data.alchemyDC}}
                                <label class="label-info"><b>{{localize "WITCHER.Diagram.craftingTime"}} :</b></label>{{diagram.data.craftingTime}}
                            </div>

                            <div class="flex components-display">
                                {{#if (gt diagram.data.alchemyComponents.vitriol 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/vitriol.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.vitriol}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.rebis 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/rebis.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.rebis}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.aether 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/aether.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.aether}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.quebrith 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/quebrith.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.quebrith}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.hydragenum 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/hydragenum.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.hydragenum}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.vermilion 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/vermilion.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.vermilion}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.sol 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/sol.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.sol}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.caelum 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/caelum.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.caelum}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.fulgur 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/fulgur.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.fulgur}}
                                {{/if}}
                            </div>
                            <div class="flex">
                                <label class="label-info"><b>{{localize "WITCHER.Diagram.otherComponents"}} :</b>{{diagram.data.components}}
                            </div>
                        </div>
                    </td> 
                    <td><div>
                        {{#if diagram.data.isFormulae}}
                            <a class="alchemy-potion"><i class="fas fa-vial"></i></a>
                        {{/if}}
                        <a class="item-edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </div></td>
                    {{/if}}
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <div class="component-section">
        <div>
{{> "systems/TheWitcherTRPG/templates/partials/substances.html"}}
        </div>
        <div class="components">
            <h2>{{localize  "WITCHER.Inventory.Components"}} <a class="add-item" data-itemType="component"><i class="fas fa-plus"></i></a></h2>
            <table class="component-table">
                <tr>
                    <td></td> 
                    <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                    <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                    <td><b>{{localize "WITCHER.Item.Weight"}}</b></td>
                    <td></td> 
                </tr>
                {{#each components as |component id|}}
                <tbody class="item" data-item-id="{{component._id}}">
                    <tr>
                        <td><img src="{{component.img}}" class="item-img dragable" draggable="true" data-id="{{component._id}}"/></td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{component.data.quantity}}" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{component.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit weight-data" data-field="data.weight" type="text" value="{{component.data.weight}}" data-dtype="Number"/></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>

<div class="weight-value">
    <span>{{totalWeight}}/{{data.coreStats.enc.current}} </span>
</div>

{{#if (gte totalWeight data.coreStats.enc.current)}}
<div class="weightbar-overweight"></div>
{{/if}}    
{{#if (lt totalWeight data.coreStats.enc.current)}}
<progress class="weightbar" value="{{totalWeight}}" max="{{data.coreStats.enc.current}}"></progress>
{{/if}}    