<div class="flex">
    <div class="weapon-section">
        <h2>Equipped weapons <a class="add-item" data-itemType="weapon"><i class="fas fa-plus"></i></a></h2>
        
        <table class="weapon-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.table.Range"}}</b></td>
                <td><b>{{localize "WITCHER.table.Damage"}}</b></td>
                <td><b>{{localize "WITCHER.table.Reliability"}}</b></td>
                <td><b>{{localize "WITCHER.table.Equipped"}}</b></td>
            </tr>
            {{#each weapons as |weapon id|}}
            <tbody class="item" data-item-id="{{weapon._id}}">
                <tr>
                    <td>
                        <a class="item-weapon-display"><i class="fas fa-info"></i></a>
                    </td>
                    <td><img src="{{weapon.img}}" class="item-img dragable" draggable="true" data-id="{{weapon._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{weapon.data.quantity}}" data-dtype="Number"/></td>
                    <td><a class="item-roll">{{weapon.name}}</a></td>
                    <td><input class="inline-edit range-info" data-field="data.range" type="text" value="{{weapon.data.range}}" placeholder="" /></td>
                    <td><input class="inline-edit damage-info" data-field="data.damage" type="text" value="{{weapon.data.damage}}" placeholder="" /></td>
                    <td><input class="inline-edit reliable-info" data-field="data.reliable" type="text" value="{{weapon.data.reliable}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="data.equiped" type="checkbox" {{checked data.equiped}}/></td>
                </tr>
                <tr class="item-info hidden" >
                    <td colspan="7">
                        <table>
                            <tr>
                                <td></td> 
                                <td><div class="flex"><label class="label-info"><b>Type :</b></label>{{weapon.data.type}}</div></td>
                                <td><div class="flex"><label class="label-info"><b>Hands :</b></label>{{weapon.data.hands}}</div></td>
                                <td><div class="flex"><label class="label-info"><b>Conc :</b></label>{{weapon.data.conceal}}</div></td>
                                <td><div class="flex"><label class="label-info"><b>En :</b></label>{{weapon.data.enhancements}}</div></td>
                                <td><div class="flex"><label class="label-info"><b>Weight :</b></label>{{weapon.data.weight}}</div></td>
                                <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                            </tr>
                            <tr >
                                <td colspan="6">
                                    <div class="flex">
                                    <b>Effect :</b>
                                    {{#each weapon.data.effects as |effect id|}}
                                        <div class="flex">
                                        {{effect.name}}
                                        {{#if effect.percentage}}
                                            ({{effect.percentage}})%   
                                        {{/if}}
                                        ,
                                        </div>
                                    {{/each}}
                                    </div>
                                </td>
                                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <div class="armor-section">
        <h2>Equipped Armor <a class="add-item" data-itemType="armor"><i class="fas fa-plus"></i></a></h2>
        
        <table class="armor-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.table.Equipped"}}</b></td>
                <td><b>{{localize "WITCHER.table.StoppingPower"}}</b></td>
                <td><b>{{localize "WITCHER.table.ResBludgeon"}}</b></td>
                <td><b>{{localize "WITCHER.table.ResSlashing"}}</b></td>
                <td><b>{{localize "WITCHER.table.ResPiercing"}}</b></td>
                <td></td> 
            </tr>
            {{#each armors as |armor id|}}
            <tbody class="item" data-item-id="{{armor._id}}">
                <tr>
                    <td>
                        <a class="item-armor-display"><i class="fas fa-info"></i></a>
                    </td>
                    <td><img src="{{armor.img}}" class="item-img dragable" draggable="true" data-id="{{armor._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{armor.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{armor.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit" data-field="data.equiped" type="checkbox" {{checked data.equiped}}/></td>
                    <td><div class="flex">
                            <input class="inline-edit small" data-field="data.stopping" type="text" value="{{armor.data.stopping}}" data-dtype="Number"/> /{{armor.data.maxStopping}}
                        </div>
                    </td>
                        
                    <td><input type="checkbox" name="data.bludgeoning" {{checked data.bludgeoning}} disabled /></td>
                    <td><input type="checkbox" name="data.slashing" {{checked data.slashing}} disabled /></td>
                    <td><input type="checkbox" name="data.percing" {{checked data.percing}} disabled /></td>
                    
                </tr>
                <tr class="item-info hidden">
                    <td colspan="9">
                        <table>
                            {{#if (eq type "armor")}}
                                <tr>
                                    <td><div class="flex"> <label class="label-info"><b>EN :</b></label>{{armor.data.enhancements}}</div></td>
                                    <td><div class="flex"> <label class="label-info"><b>Enc :</b></label>{{armor.data.encumb}}</div></td>
                                    <td><div class="flex"> <label class="label-info"><b>Weight :</b></label>{{armor.data.weight}}</div></td>
                                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><b>Effect :</b></label>{{armor.data.effect}}</div></td>
                                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            {{/if}}
                            {{#if (eq type "enhancement")}}
                                <tr>
                                    <td><div><b>Effect :</b></label>{{weapon.data.effect}}</div></td>
                                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            {{/if}}
                        </table>
                    </td>
                    
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>
<div class="flex">
    <div class="valuable-section">
        <h2>Valuables <a class="add-item" data-itemType="valuable"><i class="fas fa-plus"></i></a></h2>
        <table class="valuable-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>Qty</b></td>
                <td><b>Name</b></td>
                <td><b>Weight</b></td>
                <td></td> 
            </tr>
            {{#each valuables as |valuable id|}}
            <tbody class="item" data-item-id="{{valuable._id}}">
                <tr>
                    <td>
                        <a class="item-armor-display"><i class="fas fa-info"></i></a>
                    </td>
                    <td><img src="{{valuable.img}}" class="item-img dragable" draggable="true" data-id="{{valuable._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{valuable.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{valuable.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit weight-data" data-field="data.weight" type="text" value="{{valuable.data.weight}}" data-dtype="Number"/></td>
                </tr>
                <tr class="item-info hidden">
                    {{#if (eq type "valuable")}}
                    <td colspan="4"><div class="flex"><label class="label-info"><b>Effect :</b></label> <div>{{valuable.data.effect}}</div></div></td>
                    {{/if}}
                    {{#if (eq type "alchemical")}}
                    <td colspan="4">
                            <div class="flex"><label class="label-info"><b>Time :</b></label>{{valuable.data.time}}</div>
                            <label class="label-info"><b>Effect :</b></label>
                            <div class="alchemical-effect">
                                {{valuable.data.effect}}
                            </div>
                    </td>
                    {{/if}}
                    {{#if (eq type "mount")}}
                    <td colspan="4">
                        <div class="flex">
                            <label class="label-info"><b>Dex :</b></label> <div>{{valuable.data.dex}}</div>
                            <label class="label-info"><b>Control :</b></label> <div>{{valuable.data.control}}</div>
                            <label class="label-info"><b>Speed :</b></label> <div>{{valuable.data.speed}}</div>
                            <label class="label-info"><b>HP :</b></label> <div>{{valuable.data.hp}}</div>
                        </div>
                    </td>
                    {{/if}}
                    {{#if (eq type "mutagen")}}
                    <td colspan="3"><div class="flex"><label class="label-info"><b>Type :</b></label> <div>{{valuable.data.type}}</div></div></td>
                    <td><div class="flex"><label class="label-info"><b>source :</b></label> <div>{{valuable.data.source}}</div></div></td>
                    {{/if}}
                    <td>
                        <div>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                            <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>Diagrams & Formulae <a class="add-item" data-itemType="diagrams"><i class="fas fa-plus"></i></a></h2>
        <table class="diagram-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>Qty</b></td>
                <td><b>Name</b></td>
                <td><b>Learned</b></td>
                <td></td> 
            </tr>
            {{#each diagrams as |diagram id|}}
            <tbody class="item" data-item-id="{{diagram._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-armor-display"><i class="fas fa-info"></i></a>
                        </div>
                    </td>
                    <td><img src="{{diagram.img}}" class="item-img dragable" draggable="true" data-id="{{diagram._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{diagram.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{diagram.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit" data-field="data.learned" type="checkbox" value="{{data.learned}}" {{checked data.learned}}/>
                </tr>
                <tr class="item-info hidden">
                    {{#unless diagram.data.isFormulae}}
                    <td colspan="4">
                        <div>
                            <label class="label-info"><b>CraftingDC :</b></label>{{diagram.data.craftingDc}}
                            <label class="label-info"><b>Time :</b></label>{{diagram.data.craftingTime}}
                            <label class="label-info"><b>Investement :</b></label>{{diagram.data.investement}}
                        </div>
                        <div>
                            <label class="label-info"><b>Components :</b>{{diagram.data.components}}
                        </div>
                    </td>
                    <td>
                        <div class="learned-data">
                            <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    {{/unless}}
                    {{#if diagram.data.isFormulae}}
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label class="label-info"><b>AlchemyDC :</b></label>{{diagram.data.alchemyDC}}
                                <label class="label-info"><b>Time :</b></label>{{diagram.data.craftingTime}}
                            </div>

                            <div class="flex components-display">
                                {{#if (gt diagram.data.alchemyComponents.vitriol 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/vitriol.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.vitriol}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.rebis 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/rebis.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.rebis}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.aether 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/aether.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.aether}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.quebrith 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/quebrith.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.quebrith}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.hydragenum 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/hydragenum.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.hydragenum}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.vermilion 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/vermilion.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.vermilion}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.sol 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/sol.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.sol}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.caelum 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/caelum.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.caelum}}
                                {{/if}}
                                {{#if (gt diagram.data.alchemyComponents.fulgur 0)}}
                                    <img src="systems/TheWitcherTRPG/assets/images/fulgur.png" class="substance-img" /> 
                                    {{diagram.data.alchemyComponents.fulgur}}
                                {{/if}}
                            </div>
                            <div class="flex">
                                <label class="label-info"><b>Other Components :</b>{{diagram.data.components}}
                            </div>
                        </div>
                    </td> 
                    <td><div>
                        {{#if diagram.data.isFormulae}}
                            <a class="alchemy-potion"><i class="fas fa-vial"></i></a>
                        {{/if}}
                        <a class="item-edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </div></td>
                    {{/if}}
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <div class="component-section">
        <div>
            {{> "systems/TheWitcherTRPG/templates/partials/substances.html"}}
        </div>
        <div class="components">
            <h2>Components <a class="add-item" data-itemType="component"><i class="fas fa-plus"></i></a></h2>
            <table class="component-table">
                <tr>
                    <td></td> 
                    <td><b>Qty</b></td>
                    <td><b>Name</b></td>
                    <td><b>Weight</b></td>
                    <td></td> 
                </tr>
                {{#each components as |component id|}}
                <tbody class="item" data-item-id="{{component._id}}">
                    <tr>
                        <td><img src="{{component.img}}" class="item-img dragable" draggable="true" data-id="{{component._id}}"/></td>
                        <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{component.data.quantity}}" data-dtype="Number"/></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{component.name}}" placeholder="name" /></td>
                        <td><input class="inline-edit weight-data" data-field="data.weight" type="text" value="{{component.data.weight}}" data-dtype="Number"/></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>

<div class="weight-value">
    <span>{{totalWeight}}/{{data.coreStats.enc.value}} </span>
</div>

{{#if (gte totalWeight data.coreStats.enc.value)}}
<div class="weightbar-overweight"></div>
{{/if}}    
{{#if (lt totalWeight data.coreStats.enc.value)}}
<progress class="weightbar" value="{{totalWeight}}" max="{{data.coreStats.enc.value}}"></progress>
{{/if}}    