
{{#if profession}}
<div class="item" data-item-id="{{profession._id}}">
    <h1 class="flex flex-header" >
        <label>{{localize "WITCHER.Profession"}}:</label>
        <input class="inline-edit" data-field="name" type="text" value="{{profession.name}}" placeholder="Name" />
        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
    </h1>
    <div class="profession-layout">
        <div class="profession-card defining-skill">
            <div class="flex defining-skill-header profession-display" 
            data-stat="{{profession.data.definingSkill.stat}}"  
            data-level="{{profession.data.definingSkill.level}}"
            data-name="{{profession.data.definingSkill.skillName}}"
            data-effet="{{profession.data.definingSkill.definition}}">
                {{#unless (eq profession.data.definingSkill.stat "none")}}    
                <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                {{/unless}}
                <input class="inline-edit profession-skill-input"  data-field="data.definingSkill.skillName" type="text" value="{{profession.data.definingSkill.skillName}}" placeholder=""/>
                <select class="inline-edit defining-skill-select"  data-field="data.definingSkill.stat">
                    {{#select profession.data.definingSkill.stat}}
                    {{#each config.statTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select> 
                <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                <input class="inline-edit profession-level" data-field="data.definingSkill.level" type="number" value="{{profession.data.definingSkill.level}}" placeholder=""/>
            </div>
<textarea class="inline-edit" rows=10 data-field="data.definingSkill.definition"  value="{{profession.data.definingSkill.level}}">{{profession.data.definingSkill.definition}}</textarea>
        </div>
        <div class="profession-path flexrow">
            <div>
                <input class="inline-edit" data-field="data.skillPath1.pathName" type="text" value="{{profession.data.skillPath1.pathName}}" placeholder=""/>
                <div class="profession-card first-path">
                    <div class="flex first-path-header profession-display" 
                    data-stat="{{profession.data.skillPath1.skill1.stat}}"  
                    data-level="{{profession.data.skillPath1.skill1.level}}"
                    data-name="{{profession.data.skillPath1.skill1.skillName}}"
                    data-effet="{{profession.data.skillPath1.skill1.definition}}">
                        {{#unless (eq profession.data.skillPath1.skill1.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath1.skill1.skillName" type="text" value="{{profession.data.skillPath1.skill1.skillName}}" placeholder=""/>
                        <select class="inline-edit first-path-select" data-field="data.skillPath1.skill1.stat">
                            {{#select profession.data.skillPath1.skill1.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath1.skill1.level" type="number" value="{{profession.data.skillPath1.skill1.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath1.skill1.definition" value="{{profession.data.skillPath1.skill1.definition}}">{{profession.data.skillPath1.skill1.definition}}</textarea>
                </div>
                <div class="profession-card first-path">
                    <div class="flex first-path-header profession-display" 
                    data-stat="{{profession.data.skillPath1.skill2.stat}}"  
                    data-level="{{profession.data.skillPath1.skill2.level}}"
                    data-name="{{profession.data.skillPath1.skill2.skillName}}"
                    data-effet="{{profession.data.skillPath1.skill2.definition}}">
                    {{#unless (eq profession.data.skillPath1.skill2.stat "none")}}    
                    <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                    {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath1.skill2.skillName" type="text" value="{{profession.data.skillPath1.skill2.skillName}}" placeholder=""/>
                        <select class="inline-edit first-path-select" data-field="data.skillPath1.skill2.stat">
                            {{#select profession.data.skillPath1.skill2.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath1.skill2.level" type="number" value="{{profession.data.skillPath1.skill2.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath1.skill2.definition" value="{{profession.data.skillPath1.skill2.definition}}">{{profession.data.skillPath1.skill2.definition}}</textarea>
                </div>
                <div class="profession-card first-path">
                    <div class="flex first-path-header profession-display" 
                    data-stat="{{profession.data.skillPath1.skill3.stat}}"  
                    data-level="{{profession.data.skillPath1.skill3.level}}"
                    data-name="{{profession.data.skillPath1.skill3.skillName}}"
                    data-effet="{{profession.data.skillPath1.skill3.definition}}">
                        {{#unless (eq profession.data.skillPath1.skill3.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath1.skill3.skillName" type="text" value="{{profession.data.skillPath1.skill3.skillName}}" placeholder=""/>
                        <select class="inline-edit first-path-select" data-field="data.skillPath1.skill3.stat">
                            {{#select profession.data.skillPath1.skill3.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath1.skill3.level" type="number" value="{{profession.data.skillPath1.skill3.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath1.skill3.definition" value="{{profession.data.skillPath1.skill3.definition}}">{{profession.data.skillPath1.skill3.definition}}</textarea>
                </div>
            </div>
            <div>
                <input class="inline-edit" data-field="data.skillPath2.pathName" type="text" value="{{profession.data.skillPath2.pathName}}" placeholder=""/>
                <div class="profession-card second-path">
                    <div class="flex second-path-header profession-display" 
                    data-stat="{{profession.data.skillPath2.skill1.stat}}"  
                    data-level="{{profession.data.skillPath2.skill1.level}}"
                    data-name="{{profession.data.skillPath2.skill1.skillName}}"
                    data-effet="{{profession.data.skillPath2.skill1.definition}}">
                        {{#unless (eq profession.data.skillPath2.skill1.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath2.skill1.skillName" type="text" value="{{profession.data.skillPath2.skill1.skillName}}" placeholder=""/>
                        <select class="inline-edit second-path-select" data-field="data.skillPath2.skill1.stat">
                            {{#select profession.data.skillPath2.skill1.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath2.skill1.level" type="number" value="{{profession.data.skillPath2.skill1.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath2.skill1.definition" value="{{profession.data.skillPath2.skill1.definition}}">{{profession.data.skillPath2.skill1.definition}}</textarea>
                </div>
                <div class="profession-card second-path">
                    <div class="flex second-path-header profession-display" 
                    data-stat="{{profession.data.skillPath2.skill2.stat}}"  
                    data-level="{{profession.data.skillPath2.skill2.level}}"
                    data-name="{{profession.data.skillPath2.skill2.skillName}}"
                    data-effet="{{profession.data.skillPath2.skill2.definition}}">
                        {{#unless (eq profession.data.skillPath2.skill2.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath2.skill2.skillName" type="text" value="{{profession.data.skillPath2.skill2.skillName}}" placeholder=""/>
                        <select class="inline-edit second-path-select" data-field="data.skillPath2.skill2.stat">
                            {{#select profession.data.skillPath2.skill2.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath2.skill2.level" type="number" value="{{profession.data.skillPath2.skill2.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath2.skill2.definition" value="{{profession.data.skillPath2.skill2.definition}}">{{profession.data.skillPath2.skill2.definition}}</textarea>
                </div>
                <div class="profession-card second-path">
                    <div class="flex second-path-header profession-display" 
                    data-stat="{{profession.data.skillPath2.skill3.stat}}"  
                    data-level="{{profession.data.skillPath2.skill3.level}}"
                    data-name="{{profession.data.skillPath2.skill3.skillName}}"
                    data-effet="{{profession.data.skillPath2.skill3.definition}}">
                        {{#unless (eq profession.data.skillPath2.skill3.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath2.skill3.skillName" type="text" value="{{profession.data.skillPath2.skill3.skillName}}" placeholder=""/>
                        <select class="inline-edit second-path-select" data-field="data.skillPath2.skill3.stat">
                            {{#select profession.data.skillPath2.skill3.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath2.skill3.level" type="number" value="{{profession.data.skillPath2.skill3.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath2.skill3.definition" value="{{profession.data.skillPath2.skill3.definition}}">{{profession.data.skillPath2.skill3.definition}}</textarea>
                </div>
            </div>
            <div>
                <input  class="inline-edit"  data-field="data.skillPath3.pathName" type="text" value="{{profession.data.skillPath3.pathName}}" placeholder=""/>
                <div class="profession-card third-path">
                    <div class="flex third-path-header profession-display" 
                    data-stat="{{profession.data.skillPath3.skill1.stat}}"  
                    data-level="{{profession.data.skillPath3.skill1.level}}"
                    data-name="{{profession.data.skillPath3.skill1.skillName}}"
                    data-effet="{{profession.data.skillPath3.skill1.definition}}">
                        {{#unless (eq profession.data.skillPath3.skill1.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath3.skill1.skillName" type="text" value="{{profession.data.skillPath3.skill1.skillName}}" placeholder=""/>
                        <select class="inline-edit third-path-select" data-field="data.skillPath3.skill1.stat">
                            {{#select profession.data.skillPath3.skill1.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath3.skill1.level" type="number" value="{{profession.data.skillPath3.skill1.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath3.skill1.definition" value="{{profession.data.skillPath3.skill1.definition}}">{{profession.data.skillPath3.skill1.definition}}</textarea>
                </div>
                <div class="profession-card third-path">
                    <div class="flex third-path-header profession-display" 
                    data-stat="{{profession.data.skillPath3.skill2.stat}}"  
                    data-level="{{profession.data.skillPath3.skill2.level}}"
                    data-name="{{profession.data.skillPath3.skill2.skillName}}"
                    data-effet="{{profession.data.skillPath3.skill2.definition}}">
                        {{#unless (eq profession.data.skillPath3.skill2.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath3.skill2.skillName" type="text" value="{{profession.data.skillPath3.skill2.skillName}}" placeholder=""/>
                        <select class="inline-edit third-path-select" data-field="data.skillPath3.skill2.stat">
                            {{#select profession.data.skillPath3.skill2.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath3.skill2.level" type="number" value="{{profession.data.skillPath3.skill2.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath3.skill2.definition" value="{{profession.data.skillPath3.skill2.definition}}">{{profession.data.skillPath3.skill2.definition}}</textarea>
                </div>
                <div class="profession-card third-path">
                    <div class="flex third-path-header profession-display" 
                    data-stat="{{profession.data.skillPath3.skill3.stat}}"  
                    data-level="{{profession.data.skillPath3.skill3.level}}"
                    data-name="{{profession.data.skillPath3.skill3.skillName}}"
                    data-effet="{{profession.data.skillPath3.skill3.definition}}">
                        {{#unless (eq profession.data.skillPath3.skill3.stat "none")}}    
                        <a class="profession-roll"><i class="fas fa-dice-d6"></i></a>
                        {{/unless}}
                        <input class="inline-edit profession-skill-input" data-field="data.skillPath3.skill3.skillName" type="text" value="{{profession.data.skillPath3.skill3.skillName}}" placeholder=""/>
                        <select class="inline-edit third-path-select" data-field="data.skillPath3.skill3.stat">
                            {{#select profession.data.skillPath3.skill3.stat}}
                            {{#each config.statTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select> 
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                        <input class="inline-edit profession-level" data-field="data.skillPath3.skill3.level" type="number" value="{{profession.data.skillPath3.skill3.level}}" placeholder=""/>
                    </div>
<textarea class="inline-edit" rows=10 data-field="data.skillPath3.skill3.definition" value="{{profession.data.skillPath3.skill3.definition}}">{{profession.data.skillPath3.skill3.definition}}</textarea>
                </div>
            </div>
                {{editor content=profession.data.notes target="profession.data.notes" button=true editable=editable}}
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#unless profession}}
<h1>{{localize "WITCHER.Actor.Adda.Profession"}} <a class="add-item" data-itemType="profession"><i class="fas fa-plus"></i></a> </h1>
{{/unless}}

{{#if race}}
<div class="item" data-item-id="{{race._id}}">
    <h1 class="flex flex-header" >
        <label>{{localize "WITCHER.Actor.Race"}}:</label>
        <input  class="inline-edit"  data-field="name" type="text" value="{{race.name}}"/>
        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
    </h1>
    <h2>{{localize "WITCHER.Actor.Perks"}}</h2>
    <div class="flexrow">
        <div class="perk">
            <h3><input  class="inline-edit"  data-field="data.perk1.name" type="text" value="{{race.data.perk1.name}}"/></h3>
<textarea class="inline-edit" rows=7 data-field="data.perk1.description">{{race.data.perk1.description}}</textarea>
        </div>
        <div class="perk">
            <h3><input  class="inline-edit"  data-field="data.perk2.name" type="text" value="{{race.data.perk2.name}}"/></h3>
<textarea class="inline-edit" rows=7 data-field="data.perk2.description">{{race.data.perk2.description}}</textarea>
        </div>
    </div>
    <div class="flexrow">
        <div class="perk">
            <h3><input  class="inline-edit"  data-field="data.perk3.name" type="text" value="{{race.data.perk3.name}}"/></h3>
<textarea class="inline-edit" rows=7 data-field="data.perk3.description">{{race.data.perk3.description}}</textarea>
        </div>
        <div class="perk">
            <h3><input  class="inline-edit"  data-field="data.perk4.name" type="text" value="{{race.data.perk4.name}}"/></h3>
<textarea class="inline-edit" rows=7 data-field="data.perk4.description">{{race.data.perk4.description}}</textarea>
        </div>
    </div>
</div>
{{/if}}
{{#unless race}}
<h1>{{localize "WITCHER.Actor.Adda.Race"}} <a class="add-item" data-itemType="race"><i class="fas fa-plus"></i></a> </h1>
{{/unless}}