<div class="tab body background">
    <div class="flexrow">
        <div class="flexcol background scrollable">
            {{localize "WITCHER.Homeland"}}
            
            <select name="data.general.homeland.value" id="homeland-select">
            {{#select data.general.homeland.value}}
            {{#each data.config.homelands as |name value|}}
                    <option value="{{name}}">{{name}}</option>
            {{/each}}
            {{/select}}
            </select>
            {{#each data.general.details as |details dt|}}
            {{localize details.label}}
            <input class="details {{dt}}" name="data.general.details.{{dt}}.value" type="text"
                value="{{details.value}}" />
            {{/each}}
        </div>
        
        <div class="lifeEvents background">
            <textarea rows=25 name="data.general.background.value">{{data.general.background.value}}</textarea>
        </div>    
    </div>
    <div class="flexcol background">
        <div class="lifeEvents scrollable" id="lifeEvents">
            <table class="lifevents">
                <tr class="headerrow lifeEvents">
                    <th class="header lifeEvents" colspan="2">
                        {{localize "WITCHER.LifeEvents"}}
                    </th>
                </tr>
                <tr class="titlerow lifeEvents">
                    <th>{{localize "WITCHER.Decade"}}</th>
                    <th>{{localize "WITCHER.Event"}}</th>
                </tr>
                {{#each data.general.lifeEvents as |events ev|}}
                <tr class="tablerow lifeEvents {{ev}}">
                    <td class="{{ev}} events">{{ev}}</td>
                    <td>
                        <input class="input lifeEvents" name="data.general.lifeEvents.{{ev}}.value" type="text"
                            value="{{events.value}}"/>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div>
        <h2>Notes <a class="add-item" data-itemType="note"><i class="fas fa-plus"></i></a></h2>
                
        {{#each notes as |note id|}}
        <div class="item bg-note" data-item-id="{{note._id}}">
            <div class="flex">
                <input class="inline-edit" data-field="name" type="text" value="{{note.name}}" placeholder="name" />
                <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </div>
            <textarea class="inline-edit" rows="5" data-field="data.description">{{data.description}}</textarea>
        </div>
        {{/each}}
    </div>
</div>