<table class="valuable-table item-list">
    <tr>
        <th></th>
        <th></th>
        <th><b>{{localize "WITCHER.table.Quantity"}}</b></th>
        <th><b>{{localize "WITCHER.table.Name"}}</b></th>
        <th><b>{{localize "WITCHER.Item.Weight"}}</b></th>
    </tr>
    {{#each mounts as |valuable id|}}
    <tbody class="item" data-item-id="{{valuable._id}}">
        <tr>
            <td>
                <a class="item-armor-display"><i class="fas fa-info"></i></a>
            </td>
            <td>
                <img src="{{valuable.img}}" class="item-img dragable" draggable="true"
                      data-id="{{valuable._id}}"/>
            </td>
            <td>
                <input class="inline-edit item-quantity" data-field="system.quantity" type="text"
                        value="{{valuable.system.quantity}}" data-dtype="Number"/>
            </td>
            <td>
                <input class="inline-edit" data-field="name" type="text" value="{{valuable.name}}"
                        placeholder="name"/>
            </td>
            <td>
                <input class="inline-edit weight-data" data-field="system.weight" type="text"
                        value="{{valuable.system.weight}}" data-dtype="Number"/>
            </td>
        </tr>
        <tr class="item-info invisible">
            <td colspan="4">
                <div class="flex">
                    <label class="label-info">
                        <b>{{localize "WITCHER.Mount.Dexterity"}}: </b>
                    </label>
                    <div>{{valuable.system.dex}}</div>
                    <label class="label-info">
                        <b>{{localize "WITCHER.Mount.Control"}}: </b>
                    </label>
                    <div>{{valuable.system.control}}</div>
                    <label class="label-info">
                        <b>{{localize "WITCHER.Mount.Speed"}}: </b>
                    </label>
                    <div>{{valuable.system.speed}}</div>
                    <label class="label-info">
                        <b>{{localize "WITCHER.Mount.Hp"}}: </b>
                    </label>
                    <div>{{valuable.system.hp}}</div>
                </div>
            </td>
            <td>
                <div>
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>