<div class="flex">
    <div class="spell-section">
        <h2> {{localize "WITCHER.Spell.Novice"}} - {{localize "WITCHER.Spell.Spells"}}, {{localize "WITCHER.Spell.Invocations"}}, {{localize "WITCHER.Spell.Signs"}} <a class="add-item" data-itemType="spell" data-spellType="spellNovice"><i class="fas fa-plus"></i></a> </h2>
        <table class="novice-spell-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
                <td></td> 
            </tr>
            {{#each noviceSpells as |noviceSpell id|}}
            <tbody class="item" data-item-id="{{noviceSpell._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-spell-display"><i class="fas fa-info"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    <td><img src="{{noviceSpell.img}}" class="item-img dragable" draggable="true" data-id="{{noviceSpell._id}}"/></td>
                    <td><a class="spell-roll">{{noviceSpell.name}}</a></td>
                    <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{noviceSpell.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                </tr>
                <tr class="item-info invisible">
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Effect"}} :</b></label> {{noviceSpell.data.effect}}
                            </div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Mutagen.Source"}} :</b></label> {{noviceSpell.data.source}}
                                <label><b>{{localize "WITCHER.Spell.Range"}} :</b></label> {{noviceSpell.data.range}}
                                <label><b>{{localize "WITCHER.Spell.Duration"}} :</b></label> {{noviceSpell.data.duration}}
                                <label><b>{{localize "WITCHER.Spell.Defence"}} :</b></label> {{noviceSpell.data.defense}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        
        <h2> {{localize "WITCHER.Spell.Journeyman"}} - {{localize "WITCHER.Spell.Spells"}}, {{localize "WITCHER.Spell.Invocations"}}, {{localize "WITCHER.Spell.Signs"}} <a class="add-item" data-itemType="spell" data-spellType="spellJourneyman"><i class="fas fa-plus"></i></a> </h2>
        <table class="journeyman-spell-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
                <td></td> 
            </tr>
            {{#each journeymanSpells as |journeymanSpell id|}}
            <tbody class="item" data-item-id="{{journeymanSpell._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-spell-display"><i class="fas fa-info"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    <td><img src="{{journeymanSpell.img}}" class="item-img dragable" draggable="true" data-id="{{journeymanSpell._id}}"/></td>
                    <td><a class="spell-roll">{{journeymanSpell.name}}</a></td>
                    <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{journeymanSpell.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                </tr>
                <tr class="item-info invisible">
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Effect"}} :</b></label> {{journeymanSpell.data.effect}}
                            </div>
                            <div class="flex">
                               <label><b>{{localize "WITCHER.Mutagen.Source"}} :</b></label> {{journeymanSpell.data.source}}
                               <label><b>{{localize "WITCHER.Spell.Range"}} :</b></label> {{journeymanSpell.data.range}}
                               <label><b>{{localize "WITCHER.Spell.Duration"}} :</b></label> {{journeymanSpell.data.duration}}
                               <label><b>{{localize "WITCHER.Spell.Defence"}} :</b></label> {{journeymanSpell.data.defense}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        
        <h2> {{localize "WITCHER.Spell.Master"}} - {{localize "WITCHER.Spell.Spells"}}, {{localize "WITCHER.Spell.Invocations"}}, {{localize "WITCHER.Spell.Signs"}} <a class="add-item" data-itemType="spell" data-spellType="spellMaster"><i class="fas fa-plus"></i></a>  </h2>
        <table class="master-spell-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
                <td></td> 
            </tr>
            {{#each masterSpells as |masterSpell id|}}
            <tbody class="item" data-item-id="{{masterSpell._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-spell-display"><i class="fas fa-info"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    <td><img src="{{masterSpell.img}}" class="item-img dragable" draggable="true" data-id="{{masterSpell._id}}"/></td>
                    <td><a class="spell-roll">{{masterSpell.name}}</a></td>
                    <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{masterSpell.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                </tr>
                <tr class="item-info invisible">
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Effect"}} :</b></label> {{masterSpell.data.effect}}
                            </div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Mutagen.Source"}} :</b></label> {{masterSpell.data.source}}
                                <label><b>{{localize "WITCHER.Spell.Range"}} :</b></label> {{masterSpell.data.range}}
                                <label><b>{{localize "WITCHER.Spell.Duration"}} :</b></label> {{masterSpell.data.duration}}
                                <label><b>{{localize "WITCHER.Spell.Defence"}} :</b></label> {{masterSpell.data.defense}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <div class="magic-section">
        <div class="magic-info">
            <div class="stat-display">
                <label>{{localize "WITCHER.StVigor"}}</label> 
                <input class="focus-value" name="data.derivedStats.vigor.value" type="text" value="{{data.derivedStats.vigor.value}}" placeholder="0" data-dtype="Number"/>
            </div>
            <div class="flex">
                <input class="focus" name="data.focus1.name" type="text" value="{{data.focus1.name}}" placeholder="First Focus" />
                <input class="focus-value" name="data.focus1.value" type="text" value="{{data.focus1.value}}" placeholder="0" />
            </div>
            <div class="flex">
                <input class="focus" name="data.focus2.name" type="text" value="{{data.focus2.name}}" placeholder="Second Focus" />
                <input class="focus-value" name="data.focus2.value" type="text" value="{{data.focus2.value}}" placeholder="0" />
            </div>
            <div class="flex">
                <input class="focus" name="data.focus3.name" type="text" value="{{data.focus3.name}}" placeholder="Third Focus" />
                <input class="focus-value" name="data.focus3.value" type="text" value="{{data.focus3.value}}" placeholder="0" />
            </div>
            <div class="flex">
                <input class="focus" name="data.focus4.name" type="text" value="{{data.focus4.name}}" placeholder="Fourth Focus" />
                <input class="focus-value" name="data.v.value" type="text" value="{{data.focus4.value}}" placeholder="0" />
            </div>
        </div>
        <h2> {{localize "WITCHER.Spell.Rituals"}} <a class="add-item" data-itemType="spell" data-spellType="rituals"><i class="fas fa-plus"></i></a> </h2>
        <table class="hexes-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
                <td></td> 
            </tr>
            {{#each rituals as |ritual id|}}
            <tbody class="item" data-item-id="{{ritual._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-spell-display"><i class="fas fa-info"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    <td><img src="{{ritual.img}}" class="item-img dragable" draggable="true" data-id="{{ritual._id}}"/></td>
                    <td><a class="spell-roll">{{ritual.name}}</a></td>
                    <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{ritual.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                </tr>
                <tr class="item-info invisible">
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Effect"}} :</b></label> {{ritual.data.effect}}
                            </div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Components"}} :</b></label> {{ritual.data.components}}
                            </div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.PrepTime"}}:</b></label> {{ritual.data.preparationTime}}
                                <label><b>{{localize "WITCHER.DC"}} :</b></label> {{ritual.data.dificultyCheck}}
                                <label><b>{{localize "WITCHER.Spell.Duration"}} :</b></label> {{ritual.data.duration}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2> {{localize "WITCHER.Spell.Hexes"}} <a class="add-item" data-itemType="spell" data-spellType="hexes"><i class="fas fa-plus"></i></a> </h2>
        <table class="hexes-table">
            <tr> 
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
                <td></td> 
            </tr>
            {{#each hexes as |hex id|}}
            <tbody class="item" data-item-id="{{hex._id}}">
                <tr>
                    <td>
                        <div class="flex">
                            <a class="item-spell-display"><i class="fas fa-info"></i></a>
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                    <td><img src="{{hex.img}}" class="item-img dragable" draggable="true" data-id="{{hex._id}}"/></td>
                    <td><a class="spell-roll">{{hex.name}}</a></td>
                    <td><input class="inline-edit spell-sta" data-field="data.stamina" type="text" value="{{hex.data.stamina}}" placeholder="1" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                </tr>
                <tr class="item-info invisible">
                    <td colspan="4">
                        <div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Effect"}} :</b></label> {{hex.data.effect}}
                            </div>
                            <div class="flex">
                                <label><b>{{localize "WITCHER.Spell.Requirements"}}</b></label> {{hex.data.liftRequirement}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>