<div class="tab body background">
    <div class="flexrow">
        <div class="flexcol background scrollable">
            {{localize "WITCHER.Homeland"}}
            
            <select name="data.general.homeland.value" id="homeland-select">
            {{#select data.general.homeland.value}}
            {{#each data.config.homelands as |name value|}}
                    <option value="{{name}}">{{name}}</option>
            {{/each}}
            {{/select}}
            </select>
            {{#each data.general.details as |details dt|}}
            {{localize details.label}}
            <input class="details {{dt}}" name="data.general.details.{{dt}}.value" type="text"
                value="{{details.value}}" />
            {{/each}}
        </div>
        {{editor content=data.general.background.value target="data.general.background.value" button=true editable=editable}}
    </div>
    <div class="flex">
        <div class="crit-wounds">
            <h2>Crit Wounds <a class="add-crit"><i class="fas fa-plus"></i></a></h2>
            <ul>
                {{#each data.critWounds as |critWound i| }}
                <li>
                    <input type="hidden" name="data.critWounds.{{i}}.id" type="text" value="{{critWound.id}}" />
                    <select name="data.critWounds.{{i}}.effect">
                        {{#select (lookup this "effect") }}
                        {{#each (lookup ../config "CritSimple") as |critEffect j|}}
                        <option value="{{j}}">Simple - {{critEffect}}</option>
                        {{/each}}
                        {{#each (lookup ../config "CritComplex") as |critEffect j|}}
                        <option value="{{j}}">Complex - {{critEffect}}</option>
                        {{/each}}
                        {{#each (lookup ../config "CritDifficult") as |critEffect j|}}
                        <option value="{{j}}">Difficult - {{critEffect}}</option>
                        {{/each}}
                        {{#each (lookup ../config "CritDeadly") as |critEffect j|}}
                        <option value="{{j}}">Deadly - {{critEffect}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <select name="data.critWounds.{{i}}.mod">
                        {{#select (lookup this "mod") }}
                        {{#each (lookup ../config "CritMod") as |critWoundModifier j|}}
                        <option value="{{j}}">{{critWoundModifier}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="delete-crit"><i class="fas fa-minus" data-id="{{critWound.id}}"></i></a>
                    <br />
                    <div class="crit-wound-description" name="data.critWounds.{{i}}.description" data-id="CritDescription.{{critWound.effect}}">{{lookup ../config.CritDescription critWound.effect}}</div>
                    <br />
                    <div class="crit-wound-mod-description" name="data.critWounds.{{i}}.modDescription" data-id="CritModDescription.{{critWound.effect}}.{{critWound.mod}}">{{lookup (lookup ../config.CritModDescription critWound.effect) critWound.mod}}</div>
                    <br />
                    <textarea rows=1 name="data.critWounds.{{i}}.notes">{{critWound.notes}}</textarea>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="flexcol background">
        <div class="lifeEvents scrollable" id="lifeEvents">
            <table class="lifevents">
                <tr class="headerrow lifeEvents">
                    <th class="header lifeEvents" colspan="2">
                        {{localize "WITCHER.LifeEvents"}}
                    </th>
                </tr>
                <tr class="titlerow lifeEvents">
                    <th>{{localize "WITCHER.Decade"}}</th>
                    <th>{{localize "WITCHER.Event"}}</th>
                </tr>
                {{#each data.general.lifeEvents as |events ev|}}
                <tr class="tablerow lifeEvents {{ev}}">
                    <td class="{{ev}} events">{{ev}}</td>
                    <td>
                        <input class="input lifeEvents" name="data.general.lifeEvents.{{ev}}.value" type="text"
                            value="{{events.value}}"/>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div>
        <h2>Notes <a class="add-item" data-itemType="note"><i class="fas fa-plus"></i></a></h2>
                
        {{#each notes as |note id|}}
        <div class="item bg-note" data-item-id="{{note._id}}">
            <div class="flex">
                <input class="inline-edit" data-field="name" type="text" value="{{note.name}}" placeholder="name" />
                <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </div>
            <textarea class="inline-edit" rows="5" data-field="data.description">{{data.description}}</textarea>
        </div>
        {{/each}}
    </div>
</div>