<h1>{{data.profession.professionName}}</h1>
<div class="profession-layout">
    <div class="profession-card defining-skill">
        <div class="profession-card-header defining-skill-header">
            <input class="profession-skill-input" name="data.profession.definingSkill.skillName" type="text" value="{{data.profession.definingSkill.skillName}}" placeholder=""/>
            <select class="defining-skill-select" name="data.profession.definingSkill.stat">
                {{#select data.profession.definingSkill.stat}}
                {{#each config.statTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select> 
            <label>level</label>
            <input class="profession-level" name="data.profession.definingSkill.level" type="number" value="{{data.profession.definingSkill.level}}" placeholder=""/>
        </div>
        <textarea rows="10" name="data.profession.definingSkill.definition">{{data.profession.definingSkill.definition}}</textarea>
    </div>
    <div class="profession-path flexrow">
        <div>
            <input name="data.profession.skillPath1.pathName" type="text" value="{{data.profession.skillPath1.pathName}}" placeholder=""/>
            <div class="profession-card first-path">
                <div class="profession-card-header first-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath1.skill1.skillName" type="text" value="{{data.profession.skillPath1.skill1.skillName}}" placeholder=""/>
                    <select class="first-path-select" name="data.profession.skillPath1.skill1.stat">
                        {{#select data.profession.skillPath1.skill1.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath1.skill1.level" type="number" value="{{data.profession.skillPath1.skill1.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath1.skill1.definition">{{data.profession.skillPath1.skill1.definition}}</textarea>
            </div>
            <div class="profession-card first-path">
                <div class="profession-card-header first-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath1.skill2.skillName" type="text" value="{{data.profession.skillPath1.skill2.skillName}}" placeholder=""/>
                    <select class="first-path-select" name="data.profession.skillPath1.skill2.stat">
                        {{#select data.profession.skillPath1.skill2.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath1.skill2.level" type="number" value="{{data.profession.skillPath1.skill2.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath1.skill2.definition">{{data.profession.skillPath1.skill2.definition}}</textarea>
            </div>
            <div class="profession-card first-path">
                <div class="profession-card-header first-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath1.skill3.skillName" type="text" value="{{data.profession.skillPath1.skill3.skillName}}" placeholder=""/>
                    <select class="first-path-select" name="data.profession.skillPath1.skill3.stat">
                        {{#select data.profession.skillPath1.skill3.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath1.skill3.level" type="number" value="{{data.profession.skillPath1.skill3.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath1.skill3.definition">{{data.profession.skillPath1.skill3.definition}}</textarea>
            </div>
        </div>
        <div>
            <input name="data.profession.skillPath2.pathName" type="text" value="{{data.profession.skillPath2.pathName}}" placeholder=""/>
            <div class="profession-card second-path">
                <div class="profession-card-header second-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath2.skill1.skillName" type="text" value="{{data.profession.skillPath2.skill1.skillName}}" placeholder=""/>
                    <select class="second-path-select" name="data.profession.skillPath2.skill1.stat">
                        {{#select data.profession.skillPath2.skill1.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath2.skill1.level" type="number" value="{{data.profession.skillPath2.skill1.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath2.skill1.definition">{{data.profession.skillPath2.skill1.definition}}</textarea>
            </div>
            <div class="profession-card second-path">
                <div class="profession-card-header second-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath2.skill2.skillName" type="text" value="{{data.profession.skillPath2.skill2.skillName}}" placeholder=""/>
                    <select class="second-path-select" name="data.profession.skillPath2.skill2.stat">
                        {{#select data.profession.skillPath2.skill2.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath2.skill2.level" type="number" value="{{data.profession.skillPath2.skill2.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath2.skill2.definition">{{data.profession.skillPath2.skill2.definition}}</textarea>
            </div>
            <div class="profession-card second-path">
                <div class="profession-card-header second-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath2.skill3.skillName" type="text" value="{{data.profession.skillPath2.skill3.skillName}}" placeholder=""/>
                    <select class="second-path-select" name="data.profession.skillPath2.skill3.stat">
                        {{#select data.profession.skillPath2.skill3.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath2.skill3.level" type="number" value="{{data.profession.skillPath2.skill3.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath2.skill3.definition">{{data.profession.skillPath2.skill3.definition}}</textarea>
            </div>
        </div>
        <div>
            <input name="data.profession.skillPath3.pathName" type="text" value="{{data.profession.skillPath3.pathName}}" placeholder=""/>
            <div class="profession-card third-path">
                <div class="profession-card-header third-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath3.skill1.skillName" type="text" value="{{data.profession.skillPath3.skill1.skillName}}" placeholder=""/>
                    <select class="third-path-select" name="data.profession.skillPath3.skill1.stat">
                        {{#select data.profession.skillPath3.skill1.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath3.skill1.level" type="number" value="{{data.profession.skillPath3.skill1.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath3.skill1.definition">{{data.profession.skillPath3.skill1.definition}}</textarea>
            </div>
            <div class="profession-card third-path">
                <div class="profession-card-header third-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath3.skill2.skillName" type="text" value="{{data.profession.skillPath3.skill2.skillName}}" placeholder=""/>
                    <select class="third-path-select" name="data.profession.skillPath3.skill2.stat">
                        {{#select data.profession.skillPath3.skill2.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath3.skill2.level" type="number" value="{{data.profession.skillPath3.skill2.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath3.skill2.definition">{{data.profession.skillPath3.skill2.definition}}</textarea>
            </div>
            <div class="profession-card third-path">
                <div class="profession-card-header third-path-header">
                    <input class="profession-skill-input" name="data.profession.skillPath3.skill3.skillName" type="text" value="{{data.profession.skillPath3.skill3.skillName}}" placeholder=""/>
                    <select class="third-path-select" name="data.profession.skillPath3.skill3.stat">
                        {{#select data.profession.skillPath3.skill3.stat}}
                        {{#each config.statTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select> 
                    <label>level</label>
                    <input class="profession-level" name="data.profession.skillPath3.skill3.level" type="number" value="{{data.profession.skillPath3.skill3.level}}" placeholder=""/>
                </div>
                <textarea rows="10" name="data.profession.skillPath3.skill3.definition">{{data.profession.skillPath3.skill3.definition}}</textarea>
            </div>
        </div>
    </div>
</div>