<h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
<div class="flex">
    <div class="flex left-loot-border">
        <div>
            <div>
                <label>Total Weight:</label> 
            </div>
            <div>
                <span>{{totalWeight}}</span>
            </div>
            <div>
                <label>Total Cost:</label> 
            </div>
            <div>
                <span>{{totalCost}}</span>
            </div>
            <div>
                <img class="loot-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
        </div>
    </div>
    <di>
        <h2>Weapons <a class="add-item" data-itemType="weapon"><i class="fas fa-plus"></i></a></h2>
        <table class="weapon-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>Qty</b></td>
                <td><b>Name</b></td>
                <td><b>Weight</b></td>
                <td><b>Cost</b></td>
                <td></td> 
            </tr>
            {{#each weapons as |item id|}}
            <tbody class="item" data-item-id="{{item._id}}">
                <tr>
                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                    <td><img src="{{item.img}}" class="item-img dragable" draggable="true" data-id="{{item._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{item.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit item-name" data-field="name" type="text" value="{{item.name}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit Weight-info" data-field="data.weight" type="text" value="{{item.data.weight}}" placeholder="" /></td>
                    <td><input class="inline-edit Cost-info" data-field="data.cost" type="text" value="{{item.data.cost}}" placeholder="" /></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>Armors <a class="add-item" data-itemType="armor"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each armors as |item id|}}
            <tbody class="item" data-item-id="{{item._id}}">
                <tr>
                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                    <td><img src="{{item.img}}" class="item-img dragable" draggable="true" data-id="{{item._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{item.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{item.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit Weight-info" data-field="data.weight" type="text" value="{{item.data.weight}}" placeholder="" /></td>
                    <td><input class="inline-edit cost-info" data-field="data.cost" type="text" value="{{item.data.cost}}" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>Valuables <a class="add-item" data-itemType="valuable"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each valuables as |item id|}}
            <tbody class="item" data-item-id="{{item._id}}">
                <tr>
                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                    <td><img src="{{item.img}}" class="item-img dragable" draggable="true" data-id="{{item._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{item.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{item.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit Weight-info" data-field="data.weight" type="text" value="{{item.data.weight}}" placeholder="" /></td>
                    <td><input class="inlinefas--edit cost-info" data-field="data.cost" type="text" value="{{item.data.cost}}" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>Diagrams <a class="add-item" data-itemType="diagrams"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each diagrams as |item id|}}
            <tbody class="item" data-item-id="{{item._id}}">
                <tr>
                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                    <td><img src="{{item.img}}" class="item-img dragable" draggable="true" data-id="{{item._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{item.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{item.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit Weight-info" data-field="data.weight" type="text" value="{{item.data.weight}}" placeholder="" /></td>
                    <td><input class="inlinefas--edit cost-info" data-field="data.cost" type="text" value="{{item.data.cost}}" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <h2>Components <a class="add-item" data-itemType="component"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each allComponents as |item id|}}
            <tbody class="item" data-item-id="{{item._id}}">
                <tr>
                    <td><a class="item-edit"><i class="fas fa-edit"></i></a></td>
                    <td><img src="{{item.img}}" class="item-img dragable" draggable="true" data-id="{{item._id}}"/></td>
                    <td><input class="inline-edit item-quantity" data-field="data.quantity" type="text" value="{{item.data.quantity}}" data-dtype="Number"/></td>
                    <td><input class="inline-edit" data-field="name" type="text" value="{{item.name}}" placeholder="name" /></td>
                    <td><input class="inline-edit Weight-info" data-field="data.weight" type="text" value="{{item.data.weight}}" placeholder="" /></td>
                    <td><input class="inlinefas--edit cost-info" data-field="data.cost" type="text" value="{{item.data.cost}}" data-dtype="Number"/></td>
                    <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </di>
</div>