<h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
{{#if (gt data.maxWeight 0)}}
<div class="wrapper">
    <div class="weight-value">
        <span>{{totalWeight}}/{{data.maxWeight}} </span>
    </div>

    {{#if (gte totalWeight data.maxWeight)}}
    <div class="weightbar-overweight"></div>
    {{/if}}    
    {{#if (lt totalWeight data.maxWeight)}}
    <progress class="weightbar" value="{{totalWeight}}" max="{{data.maxWeight}}"></progress>
    {{/if}}  
</div>
{{/if}}  
<div class="flex">
    <div class="flex left-loot-border">
        <div>
            <div>
                <label>{{localize "WITCHER.Loot.MaxWeight"}}:</label> 
            </div>
            <div>
                <span><input name="data.maxWeight" type="number" value="{{data.maxWeight}}" data-dtype="number"/></span>
            </div>
            <div>
                <label>{{localize "WITCHER.Loot.TotalCost"}}:</label> 
            </div>
            <div>
                <span>{{totalCost}}</span>
            </div>
            <div>
                <img class="loot-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
        </div>
    </div>
    <di class="item-section">
        <div class="flex">
            <div class="currency"> <label>{{localize "WITCHER.Currency.bizant"}}</label><input class="small-medium" name="data.currency.bizant" type="number" value="{{data.currency.bizant}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.ducat"}}</label><input class="small-medium" name="data.currency.ducat" type="number" value="{{data.currency.ducat}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.lintar"}}</label><input class="small-medium" name="data.currency.lintar" type="number" value="{{data.currency.lintar}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.floren"}}</label><input class="small-medium" name="data.currency.floren" type="number" value="{{data.currency.floren}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.crown"}}</label><input class="small-medium" name="data.currency.crown" type="number" value="{{data.currency.crown}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.oren"}}</label><input class="small-medium" name="data.currency.oren" type="number" value="{{data.currency.oren}}" placeholder="0" data-dtype="Number"/></div>
            <div class="currency"> <label>{{localize "WITCHER.Currency.falsecoin"}}</label><input class="small-medium" name="data.currency.falsecoin" type="number" value="{{data.currency.falsecoin}}" placeholder="0" data-dtype="Number"/></div>
        </div>
        <h2>{{localize "WITCHER.Loot.Weapons"}} <a class="add-item" data-itemType="weapon"><i class="fas fa-plus"></i></a></h2>
        <table class="weapon-table">
            <tr>
                <td></td> 
                <td></td> 
                <td><b>{{localize "WITCHER.table.Quantity"}}</b></td>
                <td><b>{{localize "WITCHER.table.Name"}}</b></td>
                <td><b>{{localize "WITCHER.Item.Weight"}}</b></td>
                <td><b>{{localize "WITCHER.Item.Cost"}}</b></td>
                <td></td> 
            </tr>
            
<span>{{isGM}}</span> 
            {{#each weapons as |item id|}}
{{> "systems/TheWitcherTRPG/templates/partials/loot-item-display.html" item=item isGM=../isGM}}
            {{/each}}
        </table>
        <h2>{{localize "WITCHER.Loot.Armors"}} <a class="add-item" data-itemType="armor"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each armors as |item id|}}
{{> "systems/TheWitcherTRPG/templates/partials/loot-item-display.html" item=item isGM=../isGM}}
            {{/each}}
        </table>
        <h2>{{localize "WITCHER.Loot.Valuables"}} <a class="add-item" data-itemType="valuable"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each valuables as |item id|}}
{{> "systems/TheWitcherTRPG/templates/partials/loot-item-display.html" item=item isGM=../isGM}}
            {{/each}}
        </table>
        <h2>{{localize "WITCHER.Loot.Diagrams"}} <a class="add-item" data-itemType="diagrams"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each diagrams as |item id|}}
{{> "systems/TheWitcherTRPG/templates/partials/loot-item-display.html" item=item isGM=../isGM}}
            {{/each}}
        </table>
        <h2>{{localize "WITCHER.Loot.Components"}} <a class="add-item" data-itemType="component"><i class="fas fa-plus"></i></a></h2>
        <table class="armor-table">
            {{#each allComponents as |item id|}}
{{> "systems/TheWitcherTRPG/templates/partials/loot-item-display.html" item=item isGM=../isGM}}
            {{/each}}
        </table>
    </di>
</div>