<div class="monster-flex">
    <div>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        <div class="monster-main">
            <div class="monster-left-sidebar">
                <div class="monster-stat-title">
                    <label>{{localize "WITCHER.Actor.StatTitle.LableLeft"}}</label>
                    <label>{{localize "WITCHER.Actor.StatTitle.LableRight"}}</label>
                </div>
                {{#each data.stats as |details stat|}}
                    {{#unless (eq stat "luck")}}
                    <div class="stat-display monster-stat-display" data-stat="{{stat}}">
                        <a class="monster-stat-button stat-roll">{{localize details.label}}</a></label> 
                        <input class="stat" name="data.stats.{{stat}}.current" type="number" value="{{details.current}}" placeholder="0" data-dtype="Number"/>
                        <input class="stat" name="data.stats.{{stat}}.max" type="number" value="{{details.max}}" placeholder="0" data-dtype="Number"/>
                    </div>
                    {{/unless}}
                {{/each}}
                <hr />
                {{#each data.coreStats as |details coreStat|}}
                <div class="monster-stat-display">
                    <label>{{localize details.label}}</label>
                    <input name="data.coreStats.{{coreStat}}.value" type="number" value="{{details.value}}" placeholder="0" data-dtype="Number" readonly/>
                </div>
                {{/each}}
                <div class="monster-stat-display">
                    <label>{{localize "WITCHER.Actor.DerStat.Vigor"}}</label>
                    <input name="data.derivedStats.vigor.value" type="number" value="{{data.derivedStats.vigor.value}}" placeholder="0" data-dtype="Number"/>
                </div>
                <hr />
                <div class="monster-custom">
                    <label>{{localize "WITCHER.Monster.CustomHP/STA"}}</label>
                    <input type="checkbox" name="data.customStat"  {{checked data.customStat}}/>
                </div>
                <div class="monster-HPSTA">
                    <label>{{localize "WITCHER.Actor.Hp"}}</label> 
                    <input name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}"/>
                    /
                    <input name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}"/>
                </div>
                <div class="monster-HPSTA">
                    <label>{{localize "WITCHER.Actor.DerStat.Sta"}}</label> 
                    <input name="data.derivedStats.sta.value" type="number" value="{{data.derivedStats.sta.value}}"/>
                    /
                    <input name="data.derivedStats.sta.max" type="number" value="{{data.derivedStats.sta.max}}"/>
                </div>
                <div>
                    <div class="monster-armor"> 
                        <label>{{localize "WITCHER.Monster.HeadArmor"}}</label> 
                        <input name="data.armorHead" type="number" value="{{data.armorHead}}" placeholder="0" data-dtype="Number"/>
                    </div>
                    <div class="monster-armor"> 
                        <label>{{localize "WITCHER.Monster.UpperArmor"}}</label> 
                        <input name="data.armorUpper" type="number" value="{{data.armorUpper}}" placeholder="0" data-dtype="Number"/>
                    </div>
                    <div class="monster-armor"> 
                        <label>{{localize "WITCHER.Monster.LowerArmor"}}</label> 
                        <input name="data.armorLower" type="number" value="{{data.armorLower}}" placeholder="0" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="monster-header-center">
                <div class="monster-center-top">
                    <div class="monster-type">
                        <label>{{localize "WITCHER.Monster.Type"}}</label>
                        <select name="data.category">
                            {{#select data.category}}
                            {{#each config.MonsterTypes as |value name|}}
                                    <option value="{{value}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="monster-difficulity">
                        <label>{{localize "WITCHER.Monster.Difficulty"}}</label>
                        <select name="data.threat">
                            {{#select data.threat}}
                                <option value="easy">{{localize "WITCHER.Monster.Easy"}}</option>
                                <option value="medium">{{localize "WITCHER.Monster.Normal"}}</option>
                                <option value="hard">{{localize "WITCHER.Monster.Hard"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="monster-complexity">
                        <label>{{localize "WITCHER.Monster.Complexity"}}</label> 
                        <select name="data.difficulty">
                            {{#select data.difficulty}}
                                <option value="simple">{{localize "WITCHER.Monster.Simple"}}</option>
                                <option value="complex">{{localize "WITCHER.Monster.Complex"}}</option>
                                <option value="difficult">{{localize "WITCHER.Monster.Difficult"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="monster-bounty">
                        <label>{{localize "WITCHER.Monster.Bounty"}}</label>
                        <input name="data.bounty" type="text" value="{{data.bounty}}"/>
                    </div>
                </div>
                    <img class="monster-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                        {{#if (eq data.category "Humanoid")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Humanoids.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Necrophage")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Necrophages.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Specter")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Specters.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Beast")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Beasts.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "CursedOne")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/CursedOnes.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Hybrid")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Hybrids.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Insectoid")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Insectoids.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Elementa")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Elementa.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Relict")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Relicts.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Ogroid")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Ogroids.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Draconid")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Draconids.png" class="cat-img" /> 
                        {{/if}}
                        {{#if (eq data.category "Vampire")}}
                        <img src="systems/TheWitcherTRPG/assets/images/monsters/Vampires.png" class="cat-img" /> 
                        {{/if}}
                    <table class="monster-info">
                        <tr><td>{{localize "WITCHER.Monster.Height"}}</td><td><input type="text" name="data.height" value="{{data.height}}"/></td></tr>
                        <tr><td>{{localize "WITCHER.Monster.Weight"}}</td><td><input type="text" name="data.weight" value="{{data.weight}}"/></td></tr>
                        <tr><td>{{localize "WITCHER.Monster.Environment"}} </td><td><input type="text" name="data.environment" value="{{data.environment}}"/></td></tr>
                        <tr><td>{{localize "WITCHER.Monster.Intelligence"}}</td><td><input type="text" name="data.intelligence" value="{{data.intelligence}}"/></td></tr>
                        <tr><td>{{localize "WITCHER.Monster.Organization"}} </td><td><input type="text" name="data.organization" value="{{data.organization}}"/></td></tr>
                    </table>
                </div>
            </div>
        <div class="monster-knowledge">
            <label>{{localize "WITCHER.Monster.CommonerSupperstition"}}<input class="skill-value" name="data.commonSkillValue" type="number" value="{{data.commonSkillValue}}" data-dtype="Number"/></label>
            {{editor content=data.common target="data.common" button=true editable=editable}}
            <label>{{localize "WITCHER.Monster.WitcherKnowledge"}}<input class="skill-value" name="data.monsterLoreSkillValue" type="number" value="{{data.monsterLoreSkillValue}}" data-dtype="Number"/></label>
            {{editor content=data.monsterLore target="data.monsterLore" button=true editable=editable}}
        </div>
    </div>
    <div class="monster-right-sidebar">
        <div class="monster-right-top">
            <div class="monster-button-roll">
                <a class="init-roll" >{{localize "WITCHER.Actor.Initiative"}}</a>
                <a class="death-roll">{{localize "WITCHER.Actor.SavingThrow"}}</a>
            </div>
            <div class="monster-button-roll">
                <a class="crit-roll">{{localize "WITCHER.Actor.Crit/Fumble"}}</a>
                <a class="defence-roll">{{localize "WITCHER.Actor.Defense"}}</a>
            </div>
        </div>
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="skills"> {{localize "WITCHER.Monster.SkillTab"}}</a>
            <a class="item" data-tab="inventory">{{localize "WITCHER.Monster.InventryTab"}} </a>
            <a class="item" data-tab="details"> {{localize "WITCHER.Monster.DetailsTab"}}</a>
            <a class="item" data-tab="spells"> {{localize "WITCHER.Monster.SpellsTab"}}</a>
        </nav>

        {{! Sheet Body }}
        <section class="sheet-body">
            <div class="tab" data-group="primary" data-tab="skills">
                {{> "systems/TheWitcherTRPG/templates/partials/monster-skill-tab.html"}}
            </div>
            <div class="tab" data-group="primary" data-tab="inventory">
                {{>"systems/TheWitcherTRPG/templates/partials/monster-inventory-tab.html"}}
            </div>
            <div class="tab" data-group="primary" data-tab="details">
                {{>"systems/TheWitcherTRPG/templates/partials/monster-details-tab.html"}}
            </div>
            <div class="tab" data-group="primary" data-tab="spells">
                {{> "systems/TheWitcherTRPG/templates/partials/monster-spell-tab.html"}}
            </div>
        </section>
    </div>
</div>