<div class="flex">
    <div class="monster-sheet-left-column">
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

        <div class="flex">
            <div class="monster-left-sidebar">
                <div class="monster-stat-title">
                    <label>Current/Max</label>
                </div>
                {{#each data.stats as |details stat|}}
                    {{#unless (eq stat "luck")}}
                    <div class="stat-display monster-stat-display" data-stat="{{stat}}">
                        <label class="stat-label"><a class="stat-roll">{{localize details.label}}</a></label> 
                        <input class="stat" name="data.stats.{{stat}}.current" type="text" value="{{details.current}}" placeholder="0" data-dtype="Number"/>
                        <input class="stat" name="data.stats.{{stat}}.max" type="text" value="{{details.max}}" placeholder="0" data-dtype="Number"/>
                    </div>
                    {{/unless}}
                {{/each}}
                <hr />
                
                {{#each data.coreStats as |details coreStat|}}
                <div class="stat-display monster-stat-display">
                    <label>{{localize details.label}}</label> 
                    <input class="header-stat" name="data.coreStats.{{coreStat}}.value" type="text" value="{{details.value}}" placeholder="0" data-dtype="Number"/>
                </div>
                {{/each}}
                <div class="stat-display monster-stat-display">
                    <label>VIGOR</label> 
                    <input class="header-stat" name="data.derivedStats.vigor.value" type="text" value="{{data.derivedStats.vigor.value}}"/>
                </div>
                <hr />
                
                <div class="">
                    <div>
                        <div class="flex"> 
                            <label>Armor Head</label> 
                            <input class="header-stat" name="data.armorHead" type="text" value="{{data.armorHead}}" placeholder="0" data-dtype="Number"/>
                        </div>
                        <div class="flex"> 
                            <label>Armor Upper</label> 
                            <input class="header-stat" name="data.armorUpper" type="text" value="{{data.armorUpper}}" placeholder="0" data-dtype="Number"/>
                        </div>
                        <div class="flex"> 
                            <label>Armor Lower</label> 
                            <input class="header-stat" name="data.armorLower" type="text" value="{{data.armorLower}}" placeholder="0" data-dtype="Number"/>
                        </div>
                    </div>
                    
                </div>
                <div class="stat-display monster-stat-display">
                    <label>HP</label> 
                    <input class="header-stat" name="data.derivedStats.hp.value" type="text" value="{{data.derivedStats.hp.value}}"/>
                    /
                    <input class="header-stat" name="data.derivedStats.hp.max" type="text" value="{{data.derivedStats.hp.max}}"/>
                </div>
                <div class="stat-display monster-stat-display">
                    <label>STA:</label> 
                    <input class="header-stat" name="data.derivedStats.sta.value" type="text" value="{{data.derivedStats.sta.value}}"/>
                    /
                    <input class="header-stat" name="data.derivedStats.sta.max" type="text" value="{{data.derivedStats.sta.max}}"/>

                </div>
            </div>
            <div class="header-center">
                <div class="flex">
                    <select name="data.threat">
                        {{#select data.threat}}
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        {{/select}}
                    </select>
                    <select name="data.difficulty">
                        {{#select data.difficulty}}
                            <option value="simple">Simple</option>
                            <option value="complex">Complex</option>
                            <option value="difficult">Difficult</option>
                        {{/select}}
                    </select>
                    <label>Bounty</label> 
                    <input name="data.bounty" type="text" value="{{data.bounty}}"/>
                </div>
                <div class="category-img">
                    {{#if (eq data.category "Humanoids")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Humanoids.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Necrophages")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Necrophages.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Specters")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Specters.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Beasts")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Beasts.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "CursedOnes")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/CursedOnes.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Hybrids")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Hybrids.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Insectoids")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Insectoids.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Elementa")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Elementa.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Relicts")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Relicts.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Ogroids")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Ogroids.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Draconids")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Draconids.png" class="cat-img" /> 
                    {{/if}}
                    {{#if (eq data.category "Vampires")}}
                    <img src="systems/TheWitcherTRPG/assets/images/monsters/Vampires.png" class="cat-img" /> 
                    {{/if}}
                </div>
                <div class="flex">
                    <img class="monster-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                    <table class="monster-info">
                        <tr><td>Height</td><td><input type="text" name="data.height" value="{{data.height}}"/></td></tr>
                        <tr><td>Weight</td><td><input type="text" name="data.weight" value="{{data.weight}}"/></td></tr>
                        <tr><td>Environment</td><td><input type="text" name="data.environment" value="{{data.environment}}"/></td></tr>
                        <tr><td>Intelligence</td><td><input type="text" name="data.intelligence" value="{{data.intelligence}}"/></td></tr>
                        <tr><td>Organization</td><td><input type="text" name="data.organization" value="{{data.organization}}"/></td></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="monster-knowledge">
            <label>Commoner Superstition (Education DC: <input class="skill-value" name="data.commonSkillValue" type="text" value="{{data.commonSkillValue}}" data-dtype="Number"/>)</label>
            <textarea rows=10 name="data.common">{{data.common}}</textarea>
            <label>Witcher Knowledge (Monster Lore DC: <input class="skill-value" name="data.monsterLoreSkillValue" type="text" value="{{data.monsterLoreSkillValue}}" data-dtype="Number"/>)</label>
            <textarea rows=25 name="data.monsterLore">{{data.monsterLore}}</textarea>
        </div>
    </div>
    <div class="monster-right-sidebar">
        <div class="flex">
            <div>
                <div class="flex">
                    <label>Category</label> 
                    <select name="data.category">
                        {{#select data.category}}
                        {{#each config.MonsterTypes as |value name|}}
                                <option value="{{value}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flex">
                    <label>Custom stats:</label> 
                    <input type="checkbox" name="data.customStat"  {{checked data.customStat}}/>
                </div>
            </div>
            <div class="actions">
                <label class="stat-label"><a class="init-roll">Initiative</a></label>
                <label class="stat-label"><a class="death-roll">Stun/Death</a></label>
                <label class="stat-label"><a class="crit-roll">Crit/Fumble</a></label>
                <label class="stat-label"><a class="defence-roll">Defense</a></label>
            </div>
        </div>
        
        <nav class="sheet-tabs tabs flexrow" data-group="primary">
            <a class="item" data-tab="skills"> Skills</a>
            <a class="item" data-tab="inventory">Attacks/Loot </a>
            <a class="item" data-tab="details"> Details</a>
            <a class="item" data-tab="spells"> Spells</a>
        </nav>

        {{! Sheet Body }}
        <section class="sheet-body">
            <div class="tab" data-group="primary" data-tab="skills">
                {{> "systems/TheWitcherTRPG/templates/partials/monster-skill-tab.html"}}
            </div>
            <div class="tab" data-group="primary" data-tab="inventory">
                <h2>Weapons <a class="add-item" data-itemType="weapon"><i class="fas fa-plus"></i></a></h2>
                <table class="weapon-table">
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Name</b></td>
                        <td><b>DMG</b></td>
                        <td><b>ROF</b></td>
                    </tr>
                    {{#each weapons as |weapon id|}}
                    <tbody class="item" data-item-id="{{weapon._id}}">
                        <tr>
                            <td>
                                <a class="item-weapon-display"><i class="fas fa-info"></i></a>
                            </td>
                            <td>
                                <img src="{{weapon.img}}" class="item-img dragable" draggable="true" data-id="{{weapon._id}}"/>
                            </td>
                            <td><a class="item-roll">{{weapon.name}}</a></td>
                            <td><input class="inline-edit" data-field="data.damage" type="text" value="{{weapon.data.damage}}" placeholder="" /></td>
                            <td><input class="inline-edit small" data-field="data.rateOfFire" type="text" value="{{weapon.data.rateOfFire}}" data-dtype="Number"/></td>
                        </tr>
                        <tr class="item-info hidden" >
                            <td>
                                <a class="item-edit"><i class="fas fa-edit"></i></a>
                            </td>
                            <td colspan="3">
                                <div class="flex"><b>Effect :</b></label>
                                    {{#each weapon.data.effects as |effect id|}}
                                        <div class="flex">
                                        {{effect.name}}
                                        {{#if effect.percentage}}
                                            ({{effect.percentage}})%   
                                        {{/if}}
                                        ,
                                        </div>
                                    {{/each}}
                                <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                            </td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
                <h2>Loot <a class="add-item" data-itemType="valuable"><i class="fas fa-plus"></i></a></h2>
                <table>
                    {{#each loots as |valuable id|}}
                    <tr class="item" data-item-id="{{valuable._id}}">
                        <td><img src="{{valuable.img}}" class="item-img dragable" draggable="true" data-id="{{valuable._id}}"/></td>
                        <td><input class="small-medium inline-edit" data-field="data.quantity" type="text" value="{{data.quantity}}"  placeholder="1d6" /></td>
                        <td><input class="inline-edit" data-field="name" type="text" value="{{valuable.name}}" placeholder="name" /></td>
                        <td><a class="item-delete"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="tab" data-group="primary" data-tab="details">
                <label>Resistances</label>
                <input type="text" name="data.resistances" value="{{data.resistances}}" placeholder="" />
                <label>Immunities</label>
                <input type="text" name="data.immunities" value="{{data.immunities}}" placeholder="" />
                <label>Susceptibilities</label>
                <input type="text" name="data.susceptibilities" value="{{data.susceptibilities}}" placeholder="" />
                <label>Senses</label>
                <input type="text" name="data.senses" value="{{data.senses}}" placeholder="" />

                <div class="monster-crit-wounds-section">
                    <h2>Crit Wounds <a class="add-crit" data-itemType="note"><i class="fas fa-plus"></i></a></h2>
                    {{> "systems/TheWitcherTRPG/templates/partials/crit-wounds-table.html"}}
                </div>
                <h2>Notes <a class="add-item" data-itemType="note"><i class="fas fa-plus"></i></a></h2>
                
                {{#each notes as |note id|}}
                <div class="item" data-item-id="{{note._id}}">
                    <div class="flex">
                        <input class="inline-edit" data-field="name" type="text" value="{{note.name}}" placeholder="name" />
                        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <textarea class="inline-edit" rows="5" data-field="data.description">{{data.description}}</textarea>
                </div>
                {{/each}}
            </div>
            <div class="tab" data-group="primary" data-tab="spells">
                {{> "systems/TheWitcherTRPG/templates/partials/monster-spell-tab.html"}}
            </div>
        </section>
    </div>
</div>