<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource">
                <label>Quantity</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label>Weight</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label>type</label>
                <select name="data.type" id="type-select">
                    {{#select data.type}}
                    <option value="potion">Potion</option>
                    <option value="decoction">Decoction</option>
                    <option value="oil">Oil</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <textarea name="data.description">{{data.description}}</textarea>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <table>
                <tr>
                    <th>{{localize "WITCHER.Item.Availability"}}</th>
                    <th>{{localize "WITCHER.Item.Effect"}}</th>
                    <th>{{localize "WITCHER.Alchemy.Duration"}}</th>
                    <th>{{localize "WITCHER.Alchemy.Toxicity"}}</th>
                    <th>{{localize "WITCHER.Item.Cost"}}</th>
                </tr>
                <tr>
                    <td><input type="text" name="data.avail" value="{{data.avail}}"/></td>
                    <td><input type="text" name="data.effect" value="{{data.effect}}"/></td>
                    <td><input type="text" name="data.time" value="{{data.time}}"/></td>
                    <td><input type="text" name="data.toxicity" value="{{data.toxicity}}"/></td>
                    <td><input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/></td>
                </tr>
            </table>
        </div>
    </section>
</form>
