<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="item-row">
        <div class="item-collum">
            <label>{{localize "WITCHER.Item.Quantity"}}</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
        </div>
        <div class="item-collum">
            <label>{{localize "WITCHER.Item.Weight"}}</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
        </div>
        <div class="item-collum">
            <label>{{localize "WITCHER.Item.Cost"}}</label>
            <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
        </div>
    </div>
    </header>

    {{!-- Attributes Tab --}}
    <table>
        <tr>
            <th>{{localize "WITCHER.Type"}}</th>
            <th>{{localize "WITCHER.Item.Availability"}}</th>
            <th>{{localize "WITCHER.Alchemy.Duration"}}</th>
            <th>{{localize "WITCHER.Alchemy.Toxicity"}}</th>
        </tr>
        <tr>
            <td>    
                <select name="data.type" id="type-select">
                    {{#select data.type}}
                    <option value="potion">{{localize "WITCHER.Alchemy.Potion"}}</option>
                    <option value="decoction">{{localize "WITCHER.Alchemy.Decoction"}}</option>
                    <option value="oil">{{localize "WITCHER.Alchemy.Oil"}}</option>
                    {{/select}}
                </select>
            </td>
            <td>
                <select name="data.avail" id="avail-select">
                {{#select data.avail}}
                {{#each config.Avalability as |name value|}}
                    <option value="{{value}}">{{localize name}}</option>
                {{/each}}
                    <option value="Witcher">{{localize "WITCHER.Item.Avalability.Witcher"}}</option>
                {{/select}}
                </select>
            </td>
            <td><input type="text" name="data.time" value="{{data.time}}"/></td>
            <td><input type="text" name="data.toxicity" value="{{data.toxicity}}"/></td>
        </tr>
        <tr>
            <td colspan="4">
                <div>
                    <label>{{localize "WITCHER.Item.Effect"}}</label>
<textarea rows=10 name="data.effect">{{data.effect}}</textarea>
                </div>
            </td>
        </tr>
    </table>
</form>
