<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource flex">
                <div class="flex">
                    <label>{{localize "WITCHER.Item.Quantity"}}</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                    <label>{{localize "WITCHER.Item.Weight"}}</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                    <label>{{localize "WITCHER.Item.Cost"}}</label>
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div>
            <label>{{localize "WITCHER.Armor.Resistances"}}:</label>
            <label>{{localize "WITCHER.Armor.Bludgeoning"}}</label><input type="checkbox" name="data.bludgeoning" {{checked data.bludgeoning}}/>
            <label>{{localize "WITCHER.Armor.Slashing"}}</label><input type="checkbox" name="data.slashing" {{checked data.slashing}} />
            <label>{{localize "WITCHER.Armor.Percing"}}</label><input type="checkbox" name="data.percing" {{checked data.percing}} />
        </div>
    </div>
        {{!-- Attributes Tab --}}
    <table>
        <tr>
            <th>{{localize "WITCHER.Item.Availability"}}</th>
            <th>{{localize "WITCHER.Armor.Enhancement"}}</th>
            <th>{{localize "WITCHER.Armor.EncumbranceValue"}}</th>
            <th>{{localize "WITCHER.Armor.Location"}}</th>
        </tr>
        <tr>
            <td>
                <select name="data.avail" id="avail-select">
                {{#select data.avail}}
                {{#each config.Avalability as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
                </select>
            </td>
            <td><input type="number" name="data.enhancements" value="{{data.enhancements}}" data-dtype="Number"/></td>
            <td><input type="number" name="data.encumb" value="{{data.encumb}}" data-dtype="Number"/></td>
            <td>
                <select name="data.location" id="location-select">
                {{#select data.location}}
                    <option value="Head">{{localize "WITCHER.Armor.LocationHead"}}</option>
                    <option value="Torso">{{localize "WITCHER.Armor.LocationTorso"}}</option>
                    <option value="Leg">{{localize "WITCHER.Armor.LocationLeg"}}</option>
                    <option value="FullCover">{{localize "WITCHER.Armor.LocationFull"}}</option>
                {{/select}}
                </select>
            </td>    
        </table>
    <div class="flex">
        <table class="sp-table">
            <tr>
                {{#if (eq data.location "FullCover")}}
                <th>{{localize "WITCHER.Armor.Location"}}</th>
                {{/if}}
                <th>{{localize "WITCHER.Armor.StoppingPower"}}</th>
                <th>{{localize "WITCHER.Armor.MaxStoppingPower"}}</th>
            </tr>
            {{#unless (eq data.location "FullCover")}}
            <tr>
                <td><input type="number" name="data.stopping" value="{{data.stopping}}" data-dtype="Number"/></td>
                <td><input type="number" name="data.maxStopping" value="{{data.maxStopping}}" data-dtype="Number"/></td></tr>
            </tr>
            {{/unless}}
            {{#if (eq data.location "FullCover")}}
            <tr>
                <td>{{localize "WITCHER.Armor.LocationHead"}}</td>
                <td><input type="number" name="data.headStopping" value="{{data.headStopping}}" data-dtype="Number"/></td>
                <td><input type="number" name="data.headMaxStopping" value="{{data.headMaxStopping}}" data-dtype="Number"/></td>
            </tr>
            <tr>
                <td>{{localize "WITCHER.Armor.LocationTorso"}}</td>
                <td><input type="number" name="data.torsoStopping" value="{{data.torsoStopping}}" data-dtype="Number"/></td>
                <td><input type="number" name="data.torsoMaxStopping" value="{{data.torsoMaxStopping}}" data-dtype="Number"/></td>
            </tr>
            <tr>
                <td>{{localize "WITCHER.Armor.LocationLeg"}}</td>
                <td><input type="number" name="data.legStopping" value="{{data.legStopping}}" data-dtype="Number"/></td>
                <td><input type="number" name="data.legMaxStopping" value="{{data.legMaxStopping}}" data-dtype="Number"/></td>
            </tr>
            {{/if}}
        </table>
        <div class="effect-list">
            <div class="flex">
                <b>{{localize "WITCHER.Item.Effect"}} </b><a class="add-effect"><i class="fas fa-plus"></i></a>
            </div>
            {{#each data.effects as |effect name|}}
            <div class="flex list-item"  data-id="{{effect.id}}">
                <a class="remove-effect"><i class="fas fa-minus"></i></a>
                <input  class="list-edit" data-field="name" type="text" value="{{effect.name}}"/>
            </div>
            {{/each}}
        </div>
    </div>
</form>