<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource flex">
                <div class="flex">
                    <label>Quantity</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                    <label>Weight</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                    <label>Cost</label>
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>
        {{!-- Attributes Tab --}}
    <table>
        <tr>
            <th>{{localize "WITCHER.Armor.StoppingPower"}}</th>
            <th>{{localize "WITCHER.Item.Availability"}}</th>
            <th>{{localize "WITCHER.Armor.Enhancement"}}</th>
            <th>{{localize "WITCHER.Armor.EncumbranceValue"}}</th>
            <th>{{localize "WITCHER.Armor.Reliable"}}</th>
        </tr>
        <tr>
            <td><input type="number" name="data.stopping" value="{{data.stopping}}" data-dtype="Number"/></td>
            <td>
                <select name="data.avail" id="avail-select">
                {{#select data.avail}}
                {{#each config.Avalability as |value name|}}
                        <option value="{{value}}">{{name}}</option>
                {{/each}}
                {{/select}}
                </select>
            </td>
            <td><input type="number" name="data.enhancements" value="{{data.enhancements}}" data-dtype="Number"/></td>
            <td><input type="number" name="data.encumb" value="{{data.encumb}}" data-dtype="Number"/></td>
            <td><input type="number" name="data.reliable" value="{{data.reliable}}" data-dtype="Number"/></td>
        </tr>
        <tr>
            <td colspan="5"><label>{{localize "WITCHER.Item.Effect"}}</label><input type="text" name="data.effect" value="{{data.effect}}"/></td>
        </tr>
    </table>
</form>