<form class="{{cssClass}}" autocomplete="off">
    {{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <div class="item-options">
        <div class="item-collum">
            <label>{{localize "WITCHER.Type"}}</label>
            <select name="data.type" id="type-select">
                {{#select data.type}}
                <option value="crafting-material">{{localize "WITCHER.Item.CraftingMaterial"}}</option>
                <option value="animal-parts">{{localize "WITCHER.Item.Hides&AnimalParts"}}</option>
                <option value="alchemical">{{localize "WITCHER.Item.AlchemicalTreatments"}}</option>
                <option value="minerals">{{localize "WITCHER.Item.Ingots&Minerals"}}</option>
                <option value="substances">{{localize "WITCHER.Inventory.Substances"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="item-collum">
            {{#if (eq data.type "substances")}}
                <label>{{localize "WITCHER.Inventory.Substance"}}:</label>
                <select name="data.substanceType" id="substanceType-select">
                    {{#select data.substanceType}}
                    {{#each config.substanceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            {{/if}}
        </div>
    </div>
    
    <table>
        <tr>
            <th>{{localize "WITCHER.Component.Rarity"}}</th>
            <th>{{localize "WITCHER.Component.Location"}}</th>
            <th>{{localize "WITCHER.Component.Quantity"}}</th>
            <th>{{localize "WITCHER.Component.Forage"}}</th>
        </tr>
        <tr>
            <td>
                <select name="data.rarity" id="avail-select">
                {{#select data.rarity}}
                {{#each config.Avalability as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
                </select>
            </td>
            <td><input type="text" name="data.location" value="{{data.location}}"/></td>
            <td><input type="text" name="data.quantityObtainable" value="{{data.quantityObtainable}}"/></td>
            <td><input type="text" name="data.forage" value="{{data.forage}}"/></td>
        </tr>
    </table>
</form>
