<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flex">
                <label>{{localize "WITCHER.Item.Quantity"}}</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                <label>{{localize "WITCHER.Item.Weight"}}</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                <label>{{localize "WITCHER.Item.Cost"}}</label>
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
            </div>
            <div class="resource flex">
                <label>{{localize "WITCHER.Diagram.Formulae"}} </label>
                <input type="checkbox" name="data.isFormulae" {{checked data.isFormulae}}/>
                <label>{{localize "WITCHER.Type"}}</label>
                <select name="data.type" id="type-select">
                    {{#select data.type}}
                    {{#if data.isFormulae}}
                    <option value="potion">{{localize "WITCHER.Alchemy.Potion"}}</option>
                    <option value="decoction">{{localize "WITCHER.Alchemy.Decoction"}}</option>
                    <option value="oil">{{localize "WITCHER.Alchemy.Oil"}}</option>
                    {{/if}}
                    {{#unless data.isFormulae}}
                    <option value="ingredients">{{localize "WITCHER.Diagram.Ingredient"}}</option>
                    <option value="weapon">{{localize "WITCHER.Diagram.Weapon"}}</option>
                    <option value="armor">{{localize "WITCHER.Diagram.Armor"}}</option>
                    <option value="armor-nhancement">{{localize "WITCHER.Diagram.ArmorEnhancement"}}</option>
                    <option value="elderfolk-weapon">{{localize "WITCHER.Diagram.ElderfolkWeapon"}}</option>
                    <option value="elderfolk-armor">{{localize "WITCHER.Diagram.ElderfolkArmor"}}</option>
                    <option value="Ammunition">{{localize "WITCHER.Diagram.Ammunition"}}</option>
                    {{/unless}}
                    {{/select}}
                </select>
            </div>
        </div>
    </header>
    <table>
        <tr> 
            <th>{{localize "WITCHER.Actor.Profession.Level"}}</th>
            <th>{{localize "WITCHER.Diagram.craftingDC"}}</th>
            <th>{{localize "WITCHER.Diagram.alchemyDC"}}</th>
            <th>{{localize "WITCHER.Diagram.craftingTime"}}</th>
            <th>{{localize "WITCHER.Diagram.investment"}}</th>
        </tr>
        <tr>
            <td>
                <select name="data.level" id="type-select">
                    {{#select data.level}}
                    <option value="novice">{{localize "WITCHER.Diagram.Novice"}}</option>
                    <option value="journeyman">{{localize "WITCHER.Diagram.Journeyman"}}</option>
                    <option value="master">{{localize "WITCHER.Diagram.Master"}}</option>
                    <option value="grand-master">{{localize "WITCHER.Diagram.GrandMaster"}}</option>
                    <option value="witcher">{{localize "WITCHER.Diagram.Witcher"}}</option>
                    {{/select}}
                </select>
            </td>
            <td><input type="text" name="data.craftingDC" value="{{data.craftingDC}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.alchemyDC" value="{{data.alchemyDC}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.craftingTime" value="{{data.craftingTime}}"/></td>
            <td><input type="text" name="data.investment" value="{{data.investment}}" data-dtype="Number"/></td>
        </tr>
        {{#if data.isFormulae}}
        <tr>
            <td colspan="5">
                <div class="flex components-display">
                    <img src="systems/TheWitcherTRPG/assets/images/vitriol.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.vitriol" value="{{data.alchemyComponents.vitriol}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/rebis.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.rebis" value="{{data.alchemyComponents.rebis}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/aether.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.aether" value="{{data.alchemyComponents.aether}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/quebrith.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.quebrith" value="{{data.alchemyComponents.quebrith}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/hydragenum.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.hydragenum" value="{{data.alchemyComponents.hydragenum}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/vermilion.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.vermilion" value="{{data.alchemyComponents.vermilion}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/sol.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.sol" value="{{data.alchemyComponents.sol}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/caelum.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.caelum" value="{{data.alchemyComponents.caelum}}"/>
                    <img src="systems/TheWitcherTRPG/assets/images/fulgur.png" class="substance-img" /> 
                    <input type="number" name="data.alchemyComponents.fulgur" value="{{data.alchemyComponents.fulgur}}"/>
                </div>
            </td>
        </tr>
        {{/if}}
        <tr>
            <td colspan="5">
                <label>{{localize "WITCHER.Loot.Components"}}</label>
<textarea rows=5 name="data.components">{{data.components}}</textarea>
            </td>
        </tr>
    </table>
</form>
