<form class="{{cssClass}}" autocomplete="off">
    {{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <div class="item-options">
        <div class="item-collum">
            <label>{{localize "WITCHER.Type"}}:</label>
            <select name="data.type" id="type-select">
                {{#select data.type}}
                <option value="armor">{{localize "WITCHER.Enhancement.Armor"}}</option>
                <option value="rune">{{localize "WITCHER.Enhancement.Rune"}}</option>
                <option value="glyph">{{localize "WITCHER.Enhancement.Glyph"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    {{#if (eq data.type "armor")}}
    <table>
        <tr>
            <th>{{localize "WITCHER.Item.Availability"}}</th>
            <th>{{localize "WITCHER.Enhancement.Stopping"}}</th>
            <th>{{localize "WITCHER.Enhancement.Bludgeoning"}}</th>
            <th>{{localize "WITCHER.Enhancement.Slashing"}}</th>
            <th>{{localize "WITCHER.Enhancement.Percing"}}</th>
        </tr>
        <tr>
            <td>
                <select name="data.avail" id="avail-select">
                {{#select data.avail}}
                {{#each config.Avalability as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
                </select>
            </td>
            <td><input type="text" name="data.stopping" value="{{data.stopping}}" data-dtype="Number"/></td>
            <td><input type="checkbox" name="data.bludgeoning" {{checked data.bludgeoning}}/></td>
            <td><input type="checkbox" name="data.slashing" {{checked data.slashing}} /></td>
            <td><input type="checkbox" name="data.percing" {{checked data.percing}} /></td>
        </tr>
        <tr >
            <td colspan="5">
            </td>
        </tr>
    </table>
    {{/if}}
    <div class="flex">
        <b>{{localize "WITCHER.Item.Effect"}} </b><a class="add-effect"><i class="fas fa-plus"></i></a>
    </div>
    {{#each data.effects as |effect name|}}
    <div class="flex list-item"  data-id="{{effect.id}}">
        <a class="remove-effect"><i class="fas fa-minus"></i></a>
<textarea class="list-edit" rows=3 data-field="name" value="{{effect.name}}">{{effect.name}}</textarea>
        <div  class="flex">
            <label>{{localize "WITCHER.Percentage"}}:</label>
            <input class="list-edit" data-field="percentage" type="text"  value="{{effect.percentage}}" data-dtype="Number"/>
            %
        </div>
    </div>
    {{/each}}
</form>