<form class="{{cssClass}}" autocomplete="off">
{{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "WITCHER.Item.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "WITCHER.Item.Attribute"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
<textarea name="system.description">{{system.description}}</textarea>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <table>
                <tr>
                    <th>{{localize "WITCHER.Mount.Dex"}}</th>
                    <th>{{localize "WITCHER.Mount.ControlMod"}}</th>
                    <th>{{localize "WITCHER.Mount.Speed"}}</th>
                    <th>{{localize "WITCHER.Mount.Hp"}}</th>
                </tr>
                <tr>
                    <td><input type="text" name="system.dex" value="{{item.system.dex}}"/></td>
                    <td><input type="text" name="system.control" value="{{item.system.control}}"/></td>
                    <td><input type="text" name="system.speed" value="{{item.system.speed}}"/></td>
                    <td><input type="text" name="system.hp" value="{{item.system.hp}}" data-dtype="Number"/></td>
                </tr>
            </table>
        </div>
    </section>
</form>
