<form class="{{cssClass}}" autocomplete="off">
    <input type="hidden" name="data.isMutagen" value="data.isMutagen"/>
    {{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <table>
        <tr>
            <th>{{localize "WITCHER.Mutagen.MutSource"}}</th>
            <th>{{localize "WITCHER.Item.Effect"}}</th>
            <th>{{localize "WITCHER.Mutagen.AlchemyDC"}}</th>
        </tr>
        <tr>
            <td><input type="text" name="data.source" value="{{data.source}}"/></td>
            <td><input type="text" name="data.effect" value="{{data.effect}}"/></td>
            <td><input type="text" name="data.alchemyDC" value="{{data.alchemyDC}}"/></td>
        </tr>
        <tr>
            <td colspan="3"><label><b>{{localize "WITCHER.Mutagen.MinorMutation"}}</b></label><input type="text" name="data.minorMutation" value="{{data.minorMutation}}"/></td>
        </tr>
    </table>
</form>
