<form class="{{cssClass}}" autocomplete="off">
{{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <table>
        <tr>
            <th>{{localize "WITCHER.Mutagen.MutSource"}}</th>
            <th>{{localize "WITCHER.Item.Effect"}}</th>
            <th>{{localize "WITCHER.Mutagen.AlchemyDC"}}</th>
        </tr>
        <tr>
            <td><input type="text" name="system.source" value="{{item.system.source}}"/></td>
            <td><input type="text" name="system.effect" value="{{item.system.effect}}"/></td>
            <td><input type="text" name="system.alchemyDC" value="{{item.system.alchemyDC}}"/></td>
        </tr>
        <tr>
            <td colspan="3"><label><b>{{localize "WITCHER.Mutagen.MinorMutation"}}</b></label><input type="text" name="system.minorMutation" value="{{item.system.minorMutation}}"/></td>
        </tr>
    </table>
</form>
