<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <div>
    </div>
    <h2>{{localize "WITCHER.Actor.Perks"}}</h2>
    <div class="flexrow">
        <div class="perk">
            <h3><input name="data.perk1.name" type="text" value="{{data.perk1.name}}"/></h3>
<textarea rows=7 name="data.perk1.description">{{data.perk1.description}}</textarea>
        </div>
        <div class="perk">
            <h3><input name="data.perk2.name" type="text" value="{{data.perk2.name}}"/></h3>
<textarea rows=7 name="data.perk2.description">{{data.perk2.description}}</textarea>
        </div>
    </div>
    <div class="flexrow">
        <div class="perk">
            <h3><input name="data.perk3.name" type="text" value="{{data.perk3.name}}"/></h3>
<textarea rows=7 name="data.perk3.description">{{data.perk3.description}}</textarea>
        </div>
        <div class="perk">
            <h3><input name="data.perk4.name" type="text" value="{{data.perk4.name}}"/></h3>
<textarea rows=7 name="data.perk4.description">{{data.perk4.description}}</textarea>
        </div>
    </div>
</form>