<form class="{{cssClass}}" autocomplete="off">
    <input type="hidden" name="data.isSpell" value="data.isSpell"/>
    {{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <div class="item-options">
        <div class="item-collum">
            <div class="item-option-tickbox">
                <label>{{localize "WITCHER.Spell.Variable"}}</label>
                <input type="checkbox" name="data.staminaIsVar"  {{checked data.staminaIsVar}}/>
            </div>
        </div>
        <div class="item-collum">
            {{#if (or (eq data.class "Spells") 
                      (eq data.class "Witcher"))}}
                <label>{{localize "WITCHER.Spell.Element"}}</label>
                <select name="data.source">
                    {{#select data.source}}
                    <option value="mixedElements">{{localize "WITCHER.Spell.Mixed"}}</option>
                    <option value="earth">{{localize "WITCHER.Spell.Earth"}}</option>
                    <option value="air">{{localize "WITCHER.Spell.Air"}}</option>
                    <option value="fire">{{localize "WITCHER.Spell.Fire"}}</option>
                    <option value="Water">{{localize "WITCHER.Spell.Water"}}</option>
                    {{/select}}
                </select>
            {{/if}}
            {{#if (eq data.class "Invocations")}}
                <label>{{localize "WITCHER.Spell.Type"}}</label>
                <select name="data.source">
                    {{#select data.source}}
                    <option value="druid">{{localize "WITCHER.Spell.Druid"}}</option>
                    <option value="preacher">{{localize "WITCHER.Spell.Preacher"}}</option>
                    <option value="arch priest">{{localize "WITCHER.Spell.Archpriest"}}</option>
                    {{/select}}
                </select>
            {{/if}}
        </div>
        <div class="item-collum">
            {{#if (eq data.class "Witcher")}}
                <label>{{localize "WITCHER.Spell.Type"}}</label>
                <select name="data.domain">
                    {{#select data.domain}}
                    <option value="basic">{{localize "WITCHER.Spell.Basic"}}</option>
                    <option value="alternate">{{localize "WITCHER.Spell.Alt"}}</option>
                    {{/select}}
                </select>
            {{/if}}
        </div>
    </div>

    <label>{{localize "WITCHER.Item.Effect"}}</label>
<textarea rows="10" name="data.effect">{{data.effect}}</textarea>
        {{#unless (eq data.class "Hexes")}}
        <div class="flex">
            <label>{{localize "WITCHER.Spell.Duration"}}</label>
            <input name="data.duration" type="text" value="{{data.duration}}"/>
        </div>
        {{/unless}}

        {{#unless (eq data.class "Rituals")}}
        {{#unless (eq data.class "Hexes")}}
        <div class="flex">
            <label>{{localize "WITCHER.Spell.Range"}}</label>
            <input name="data.range" type="text" value="{{data.range}}"/>
            <label>{{localize "WITCHER.Spell.Defence"}}</label>
            <input name="data.defence" type="text" value="{{data.defence}}"/>
        </div>
        {{/unless}}
        {{/unless}}
        {{#if (eq data.class "Rituals")}}
        <label>{{localize "WITCHER.Spell.PrepTime"}}</label>
        <input name="data.preparationTime" type="text" value="{{data.preparationTime}}"/>
        <label>{{localize "WITCHER.Spell.DC"}}</label>
        <input name="data.dificultyCheck" type="text" value="{{data.dificultyCheck}}"/>
        <label>{{localize "WITCHER.Spell.Components"}}</label>
<textarea rows="4" name="data.components">{{data.components}}</textarea>
        {{/if}}
        {{#if (eq data.class "Hexes")}}
        <label>{{localize "WITCHER.Spell.Requirements"}}</label>
<textarea rows="5" name="data.liftRequirement">{{data.liftRequirement}}</textarea>
        {{/if}}

        <hr />
        <div class="flex">
            <label>{{localize "WITCHER.Spell.CreateTemplate"}}</label>
            <input type="checkbox" name="data.createTemplate"  {{checked data.createTemplate}}/>
        </div>
        
        {{#if (eq data.createTemplate true)}}
        <div class="flex">
            <label><b>{{localize "WITCHER.Spell.Size"}}</b></label>
            <input class="medium" name="data.templateSize" type="text" value="{{data.templateSize}}"/>({{localize "WITCHER.Spell.meters"}})
            <label><b>{{localize "WITCHER.Spell.Type"}}</b></label>
            <select name="data.templateType">
                {{#select data.templateType}}
                <option value="rect">{{localize "WITCHER.Spell.Square"}}</option>
                <option value="circle">{{localize "WITCHER.Spell.Circle"}}</option>
                <option value="cone">{{localize "WITCHER.Spell.Cone"}}</option>
                <option value="ray">{{localize "WITCHER.Spell.Ray"}}</option>
                {{/select}}
            </select>
        </div>
        {{/if}}

        <hr />
        <div class="flex">
            <label>{{localize "WITCHER.Spell.Damage"}}</label>
            <input type="checkbox" name="data.causeDamages"  {{checked data.causeDamages}}/>
        </div>
        
        {{#if (eq data.causeDamages true)}}
        <div class="flex">
            <label><b>{{localize "WITCHER.Weapon.Damage"}}</b></label>
            <input class="medium" name="data.damage" type="text" value="{{data.damage}}"/>
            <div>
                <b>{{localize "WITCHER.Item.Effect"}} </b><a class="add-effect"><i class="fas fa-plus"></i></a>
                {{#each data.effects as |effect name|}}
                <div class="flex list-item"  data-id="{{effect.id}}">
                    <a class="remove-effect"><i class="fas fa-minus"></i></a>
                    <input  class="list-edit" data-field="name" type="text" value="{{effect.name}}"/>
                    <div  class="flex">
                        <label>{{localize "WITCHER.Percentage"}}:</label>
                        <input class="list-edit" data-field="percentage" type="text"  value="{{effect.percentage}}" data-dtype="Number"/>
                        %
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</form>
