<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="spellname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource">
                <label>Type</label>
                <select name="data.class" id="profession-select">
                    {{#select data.class}}
                    <option value="Spells">Spells</option>
                    <option value="Invocations">Invocations</option>
                    <option value="Witcher">Witcher Signs</option>
                    <option value="Rituals">Rituals</option>
                    <option value="Hexes">Hexes</option>
                    {{/select}}
                </select>
                <label>Sta cost</label>
                <input class="sta-input" name="data.stamina" type="text" value="{{data.stamina}}"/>
                <label>Var</label>
                <input type="checkbox" name="data.staminaIsVar"  {{checked data.staminaIsVar}}/>

                {{#if (eq data.class "Hexes")}}
                <label>Danger</label>
                <select name="data.danger" id="level-select">
                    {{#select data.danger}}
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    {{/select}}
                </select>
                {{/if}}
                {{#unless (eq data.class "Hexes")}}
                <select name="data.level" id="level-select">
                    {{#select data.level}}
                    <option value="novice">Novice</option>
                    <option value="journeyman">Journeyman</option>
                    <option value="master">Master</option>
                    {{/select}}
                </select>
                {{/unless}}
            </div>
        </div>
    </header>
    <div>
        <div class="flex">
            {{#if (or (eq data.class "Spells") 
                      (eq data.class "Witcher"))}}
                <select name="data.source" id="source-select">
                    {{#select data.source}}
                    <option value="mixedElements">Mixed Elements</option>
                    <option value="earth">Earth</option>
                    <option value="air">Air</option>
                    <option value="fire">Fire</option>
                    <option value="wather">Wather</option>
                    {{/select}}
                </select>
            {{/if}}
            {{#if (eq data.class "Invocations")}}
                <select name="data.source" id="source-select">
                    {{#select data.source}}
                    <option value="druid">Druid</option>
                    <option value="preacher">Preacher</option>
                    <option value="arch priest">Arch priest</option>
                    {{/select}}
                </select>
            {{/if}}
            {{#if (eq data.class "Witcher")}}
                <select name="data.source" id="level-select">
                    {{#select data.source}}
                    <option value="basic">Basic Sign</option>
                    <option value="alternate">Alternate Sign Forms</option>
                    {{/select}}
                </select>
            {{/if}}
        </div>
        <label>Effect</label>
        <textarea rows="10" name="data.effect">{{data.effect}}</textarea>

        {{#unless (eq data.class "Hexes")}}
        <label>Duration</label>
        <input name="data.duration" type="text" value="{{data.duration}}"/>
        {{/unless}}

        {{#unless (eq data.class "Rituals")}}
        {{#unless (eq data.class "Hexes")}}
        <div class="flex">
            <label>Range</label>
            <input name="data.range" type="text" value="{{data.range}}"/>
            <label>Defence</label>
            <input name="data.defence" type="text" value="{{data.defence}}"/>
        </div>
        {{/unless}}
        {{/unless}}
        {{#if (eq data.class "Rituals")}}
        <label>Preparation Time</label>
        <input name="data.preparationTime" type="text" value="{{data.preparationTime}}"/>
        <label>Dificulty Check</label>
        <input name="data.dificultyCheck" type="text" value="{{data.dificultyCheck}}"/>
        <label>Components</label>
        <textarea rows="4" name="data.components">{{data.components}}</textarea>
        {{/if}}
        {{#if (eq data.class "Hexes")}}
        <label>Requirements To Lift</label>
        <textarea rows="5" name="data.liftRequirement">{{data.liftRequirement}}</textarea>
        {{/if}}
    </div>
</form>
