<form class="{{cssClass}}" autocomplete="off">
{{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <div class="item-options">
        <div class="item-collum item-selector">
            <label>{{localize "WITCHER.Type"}}</label>
            <select name="data.type" id="type-select">
                {{#select data.type}}
                <option value="toolkit">{{localize "WITCHER.Valueble.Toolkit"}}</option>
                <option value="genera">{{localize "WITCHER.Valueble.General"}}</option>
                <option value="containers">{{localize "WITCHER.Valueble.Containers"}}</option>
                <option value="food-drink">{{localize "WITCHER.Valueble.Food&Drinks"}}</option>
                <option value="clothing">{{localize "WITCHER.Valueble.Clothings"}}</option>
                <option value="service">{{localize "WITCHER.Valueble.Service"}}</option>
                <option value="lodging">{{localize "WITCHER.Valueble.Loging"}}</option>
                <option value="mount-accessories">{{localize "WITCHER.Valueble.MountAccessories"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="item-collum">
            <div class="item-row">
                <div class="item-second-collum">
                    <label>{{localize "WITCHER.Item.Availability"}}</label>
                    <select name="data.avail" id="avail-select">
                        {{#select data.avail}}
                        {{#each config.Avalability as |name value|}}
                                <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="item-second-collum">
                    <th>{{localize "WITCHER.Valuable.Conceal"}}</th>
                    <select name="data.conceal" id="avail-select">
                        {{#select data.conceal}}
                        {{#each config.Concealment as |name value|}}
                                <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </div>
    {{!-- effect Tab --}}
    <div class="description">
<textarea rows=5 name="data.description">{{data.description}}</textarea>
    </div>
</form>