<form class="{{cssClass}}" autocomplete="off">
    <h1>{{localize "WITCHER.verbalCombat.Title"}}</h1>
    <div>
        <h2>{{localize "WITCHER.verbalCombat.EmpatheticAttacks"}}</h2>
            <div><input name="verbalCombat" type="radio" id="Seduce" value="Seduce"/><label for="Seduce">{{localize "WITCHER.verbalCombat.Seduce"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Persuade" value="Persuade"/><label for="Persuade">{{localize "WITCHER.verbalCombat.Persuade"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Appeal" value="Appeal"/><label for="Appeal">{{localize "WITCHER.verbalCombat.Appeal"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Befriend" value="Befriend"/><label for="Befriend">{{localize "WITCHER.verbalCombat.Befriend"}}</label></div>
        <h2>{{localize "WITCHER.verbalCombat.AntagonisticAttacks"}}</h2>
            <div><input name="verbalCombat" type="radio" id="Deceive" value="Deceive"/><label for="Deceive">{{localize "WITCHER.verbalCombat.Deceive"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Ridicule" value="Ridicule"/><label for="Ridicule">{{localize "WITCHER.verbalCombat.Ridicule"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Intimidate" value="Intimidate"/><label for="Intimidate">{{localize "WITCHER.verbalCombat.Intimidate"}}</label></div>
        <h2>{{localize "WITCHER.verbalCombat.Defences"}}</h2>
            <div><input name="verbalCombat" type="radio" id="Ignore" value="Ignore"/><label for="Ignore">{{localize "WITCHER.verbalCombat.Ignore"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Counterargue" value="Counterargue"/><label for="Counterargue">{{localize "WITCHER.verbalCombat.Counterargue"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="ChangeSubject" value="ChangeSubject"/><label for="ChangeSubject">{{localize "WITCHER.verbalCombat.ChangeSubject"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Disengage" value="Disengage"/><label for="Disengage">{{localize "WITCHER.verbalCombat.Disengage"}}</label></div>
        <h2>{{localize "WITCHER.verbalCombat.EmpatheticTools"}}</h2>
            <div><input name="verbalCombat" type="radio" id="Romance" value="Romance"/><label for="Romance">{{localize "WITCHER.verbalCombat.Romance"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Study" value="Study"/><label for="Study">{{localize "WITCHER.verbalCombat.Study"}}</label></div>
        <h2>{{localize "WITCHER.verbalCombat.AntagonisticTools"}}</h2>
            <div><input name="verbalCombat" type="radio" id="ImplyPersuade" value="ImplyPersuade"/><label for="ImplyPersuade">{{localize "WITCHER.verbalCombat.ImplyPersuade"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="ImplyDeceit" value="ImplyDeceit"/><label for="ImplyDeceit">{{localize "WITCHER.verbalCombat.ImplyDeceit"}}</label></div>
            <div><input name="verbalCombat" type="radio" id="Bribe" value="Bribe"/><label for="Bribe">{{localize "WITCHER.verbalCombat.Bribe"}}</label></div>
        <label>{{localize "WITCHER.Dialog.attackCustom"}}: <input name="customModifiers" value=0></label>
    </div>
</form>