<form class="{{cssClass}} weapon_roll_sheet" autocomplete="off">
    <h1>{{localize "WITCHER.Dialog.attackUse"}}: {{attackSkill.alias}}</h1>
    <div class="flex attack-sheet">
        <table>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackExtra"}}:</label>
                </td>
                <td>
                    <input type="checkbox" name="isExtraAttack">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.damageType"}}:</label>
                </td>
                <td>
                    <select name="damageType">
                        {{#if item.system.type.slashing}}
                            <option value="slashing">{{localize "WITCHER.Armor.slashing"}}</option>
                        {{/if}}
                        {{#if item.system.type.piercing}}
                            <option value="piercing">{{localize "WITCHER.Armor.piercing"}}</option>
                        {{/if}}
                        {{#if item.system.type.bludgeoning}}
                            <option value="bludgeoning">{{localize "WITCHER.Armor.bludgeoning"}}</option>
                        {{/if}}
                        {{#if item.system.type.elemental}}
                            <option value="elemental">{{localize "WITCHER.Armor.elemental"}}</option>
                        {{/if}}
                        {{#if (or (eq item.system.type.elemental)(eq false item.system.type.piercing)(eq item.system.type.bludgeoning)(eq item.system.type.elemental))}}
                            <option value="unavailable">{{localize "WITCHER.context.unavailable"}}</option>
                        {{/if}}
                    </select>
                </td>
            </tr>
            {{#if item.system.range}}
                <tr>
                    <td>
                        <label>{{localize "WITCHER.Dialog.attackRange"}} ({{item.system.range}}):</label>
                    </td>
                    <td>
                        <select name="range">
                            <option value="none"> {{localize "WITCHER.Dialog.rangeNone"}} </option>
                            <option value="pointBlank"> {{localize "WITCHER.Dialog.rangePointBlank"}} </option>
                            <option value="close"> {{localize "WITCHER.Dialog.rangeClose"}}</option>
                            <option value="medium"> {{localize "WITCHER.Dialog.rangeMedium"}} </option>
                            <option value="long"> {{localize "WITCHER.Dialog.rangeLong"}} </option>
                            <option value="extreme"> {{localize "WITCHER.Dialog.rangeExtreme"}} </option>
                        </select>
                    </td>
                </tr>
            {{/if}}
        </table>
        <table>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackLocation"}}:</label>
                </td>
                <td>
                    <select name="location" {{#if item.system.isThrowable}}disabled{{/if}}>
                        <option value="randomHuman"> {{localize "WITCHER.Dialog.attackRandomHuman"}} </option>
                        <option value="randomMonster"> {{localize "WITCHER.Dialog.attackRandomMonster"}} </option>
                        <option value="Head"> {{localize "WITCHER.Dialog.attackHead"}} </option>
                        <option value="Torso"> {{localize "WITCHER.Dialog.attackTorso"}} </option>
                        <option value="L. Arm"> {{localize "WITCHER.Dialog.attackLArm"}} </option>
                        <option value="R. Arm"> {{localize "WITCHER.Dialog.attackRArm"}} </option>
                        <option value="L. Leg"> {{localize "WITCHER.Dialog.attackLLeg"}} </option>
                        <option value="R. Leg"> {{localize "WITCHER.Dialog.attackRLeg"}} </option>
                        <option value="Tail/Wing"> {{localize "WITCHER.Dialog.attackTail"}} </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackStrike"}}:</label>
                </td>
                <td>
                    <select name="strike" {{#if item.system.isThrowable}}disabled{{/if}}>
                        <option value="normal"> {{localize "WITCHER.Dialog.strikeNormal"}} </option>
                        <option value="fast"> {{localize "WITCHER.Dialog.strikeFast"}} </option>
                        <option value="strong"> {{localize "WITCHER.Dialog.strikeStrong"}} </option>
                        <option value="joint"> {{localize "WITCHER.Dialog.strikeJoint"}} </option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <h2>{{localize "WITCHER.Dialog.attackModifiers"}}</h2>
    <div class="flex">
        <table>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackOutsideLOS"}} (+3)</label>
                </td>
                <td>
                    <input type="checkbox" name="outsideLOS">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsAmbush"}} (+5)</label>
                </td>
                <td>
                    <input type="checkbox" name="isAmbush">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsPinned"}} (+4)</label>
                </td>
                <td>
                    <input type="checkbox" name="isPinned">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsSilhouetted"}} (+2)</label>
                </td>
                <td>
                    <input type="checkbox" name="isSilhouetted">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsAiming"}} (+1/round)</label>
                </td>
                <td>
                    <input type="number" class="small" name="customAim" value=0>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackCustom"}}:</label>
                </td>
                <td>
                    <input type="number" class="small" name="customAtt" value=0>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackTargetOutsideLOS"}} (-3)</label>
                </td>
                <td>
                    <input type="checkbox" name="targetOutsideLOS">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsActivelyDodging"}} (-2)</label>
                </td>
                <td>
                    <input type="checkbox" name="isActivelyDodging">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsMoving"}} (-3)</label>
                </td>
                <td>
                    <input type="checkbox" name="isMoving">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsProne"}} (-2)</label>
                </td>
                <td>
                    <input type="checkbox" name="isProne">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsBlinded"}} (-3)</label>
                </td>
                <td>
                    <input type="checkbox" name="isBlinded">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsRicochet"}} (-5)</label>
                </td>
                <td>
                    <input type="checkbox" name="isRicochet">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackIsFastDraw"}} (-3)</label>
                </td>
                <td>
                    <input type="checkbox" name="isFastDraw">
                </td>
            </tr>
        </table>
    </div>
    <h2 class="flex">
        <img class="item-img" src="{{item.img}}" title="{{item.name}}"/>
        {{item.name}} <br/>
        {{localize "WITCHER.Dialog.attackDamage"}}: {{displayDmgFormula}}
    </h2>
    <div class="flex">
        <table>
            <tr>
                <td>
                    <label>{{localize "WITCHER.Dialog.attackCustomDmg"}}</label>
                </td>
                <td>
                    <input type="number" class="small" name="customDmg" value=0>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                {{#if isMeleeAttack}}
                    <td>
                        <label>{{localize "WITCHER.Dialog.attackMeleeBonus"}}:</label>
                    </td>
                    <td>
                        {{meleeBonus}}
                    </td>
                {{/if}}
                {{#if item.system.usingAmmo}}
                    {{#if (eq noAmmo 1)}}
                        <td>
                            <label class="error-display">{{localize "WITCHER.Dialog.NoAmmunition"}}</label>
                        </td>
                    {{else}}
                        <td>
                            <label>{{localize "WITCHER.Dialog.Ammunition"}}:</label>
                        </td>
                        <td>
                            <select name="ammunition">
                                {{{ammunitionOption}}}
                            </select>
                        </td>
                    {{/if}}
                {{/if}}
                {{#if item.system.isThrowable}}
                    {{#if noThrowable }}
                        <td>
                            <label class="error-display">{{localize "WITCHER.Dialog.NoThrowable"}}</label>
                        </td>
                    {{else}}
                        <td>
                            <label><b>{{localize "WITCHER.Dialog.Throwable"}}</b></label>
                        </td>
                    {{/if}}
                {{/if}}
            </tr>
        </table>
    </div>
    {{log "!!!!! DOCUMENT DATA !!!!!"}}
    {{log this}}
</form>