<form class="{{cssClass}}" autocomplete="off">
{{>"systems/TheWitcherTRPG/templates/partials/item-header.html"}}
    <div class="item-options">
        <div class="item-collum">
            <div class="item-option-tickbox">
                <label>{{localize "WITCHER.Weapon.onlyDmg"}}</label>
                <input type="checkbox" name="data.rollOnlyDmg" {{checked data.rollOnlyDmg}}/>
            </div>
            <div class="item-option-tickbox">
                <label>{{localize "WITCHER.Weapon.useAmmo"}}</label>
                <input type="checkbox" name="data.usingAmmo" {{checked data.usingAmmo}}/>
            </div>
        </div>
        <div class="item-collum">
            <div class="item-option-tickbox">
                <label>{{localize "WITCHER.Weapon.isAmmunition"}}</label>
                <input type="checkbox" name="data.isAmmo" {{checked data.isAmmo}}/>
            </div>
        </div>
        <div class="item-collum">
            {{#unless data.isAmmo}}
            <label>{{localize "WITCHER.Weapon.AttackSkill"}}:</label>
            <select name="data.attackSkill" id="hands-select">
                {{#select data.attackSkill}}
                    <option value="Brawling"> {{localize "WITCHER.SkRefBrawling"}} </option>
                    <option value="Melee"> {{localize "WITCHER.SkRefMelee"}} </option>
                    <option value="Small Blades"> {{localize "WITCHER.SkRefSmall"}} </option>
                    <option value="Staff/Spear"> {{localize "WITCHER.SkRefStaff"}} </option>
                    <option value="Swordsmanship"> {{localize "WITCHER.SkRefSwordmanship"}} </option>
                    <option value="Archery"> {{localize "WITCHER.SkDexArchery"}} </option>
                    <option value="Athletics"> {{localize "WITCHER.SkDexAthletics"}} </option>
                    <option value="Crossbow"> {{localize "WITCHER.SkDexCrossbow"}} </option>
                {{/select}}
            </select>
            {{/unless}}
        </div>
    </div>
    <table class="weapon-table">
        <tr>
            <th>{{localize "WITCHER.Dialog.damageType"}}</th>
            {{#unless data.isAmmo}}
            <th>{{localize "WITCHER.Weapon.WeaponAccuracy"}}</th>
            <th>{{localize "WITCHER.Weapon.Hands"}}</th>
            <th>{{localize "WITCHER.Weapon.Enhancement"}}</th>
            {{/unless}}
            <th>{{localize "WITCHER.Item.Availability"}}</th>
            <th>{{localize "WITCHER.Weapon.Reliability"}}</th>
            <th>{{localize "WITCHER.Weapon.MaxReliability"}}</th>
            <th>{{localize "WITCHER.Weapon.Concealement"}}</th>
            {{#unless data.isAmmo}}
            <th>{{localize "WITCHER.Weapon.rateOfFire"}}</th>
            {{/unless}}

        </tr>
        <tr class="weapon-stat-table">
            <td class="weapon-dmg-type">
                <label for="slashing" style="float: left;">{{localize "WITCHER.Enhancement.Slashing"}}<input class="damage-type" title="{{localize "WITCHER.Armor.Slashing"}}" type="checkbox" id="slashing" {{checked data.type.slashing}}/></label>
                <label for="slashing" style="float: left;">{{localize "WITCHER.Enhancement.Percing"}}<input class="damage-type" title="{{localize "WITCHER.Armor.Percing"}}" type="checkbox" id="percing" {{checked data.type.percing}}/></label>
                <label for="slashing" style="float: left;">{{localize "WITCHER.Enhancement.Bludgeoning"}}<input class="damage-type" title="{{localize "WITCHER.Armor.Bludgeoning"}}" type="checkbox" id="bludgeoning" {{checked data.type.bludgeoning}}/></label>
                <label for="slashing" style="float: left;">{{localize "WITCHER.Enhancement.Elemental"}}<input class="damage-type" title="{{localize "WITCHER.Armor.Elemental"}}" type="checkbox" id="elemental" {{checked data.type.elemental}}/></label>
            </td>
            {{#unless data.isAmmo}}
            <td><input class="double-digit" type="number" name="data.accuracy" value="{{data.accuracy}}" data-dtype="Number"/></td>
            <td>
                <select name="data.hands" id="hands-select">
                    {{#select data.hands}}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        {{/select}}
                </select>
            </td>
            <td><input class="double-digit" type="number" name="data.enhancements" value="{{data.enhancements}}" data-dtype="Number"/></td>
            {{/unless}}
            <td>
                <select name="data.avail" id="avail-select">
                {{#select data.avail}}
                {{#each config.Avalability as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
                </select>
            </td>
            <td><input class="double-digit" type="number" name="data.reliable" value="{{data.reliable}}" data-dtype="Number"/></td>
            <td><input class="double-digit" type="number" name="data.maxReliability" value="{{data.maxReliability}}" data-dtype="Number"/></td>
            <td>
                <select name="data.conceal" id="avail-select">
                    {{#select data.conceal}}
                    {{#each config.Concealment as |name value|}}
                            <option value="{{value}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            {{#unless data.isAmmo}}
            <td><input class="double-digit" type="number" name="data.rateOfFire" value="{{data.rateOfFire}}" data-dtype="Number"/></td>
            {{/unless}}
        </tr>
    </table>
    <div class="flex">
        {{#unless data.isAmmo}}
        <table class="weapon-bottom-table weapon-bottom-table-one">
            <tr>
                <th>{{localize "WITCHER.Weapon.Damage"}}</th>
                <th>{{localize "WITCHER.Weapon.Range"}}</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="data.damage" value="{{data.damage}}"/>
                </td>
                <td>
                    </b><input type="text" name="data.range" value="{{data.range}}"/>
                </td>
            </tr>
        </table>
        {{/unless}}
        <table class="weapon-bottom-table">
            <tr>
                <th><a class="add-effect"><i class="fas fa-plus"></i></a></th>
                <th>{{localize "WITCHER.Item.Effect"}}</th>
                <th><label>{{localize "WITCHER.Percentage"}}</label></th>
            </tr>
            {{#each data.effects as |effect name|}}
            <tr>
                <th class="list-item"  data-id="{{effect.id}}">
                    <a class="remove-effect"><i class="fas fa-minus"></i></a>
                </th>
                <td class="list-item"  data-id="{{effect.id}}">
                    <input  class="list-edit weapon-effect" data-field="name" type="text" value="{{effect.name}}"/>
                </td>
                <td class="list-item"  data-id="{{effect.id}}">
                    <input class="list-edit" data-field="percentage" type="number"  value="{{effect.percentage}}" data-dtype="Number" />
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</form>
