.itemname {
    text-align: center;
}

.item-header {
    display: flex;
}

.item-header img{
    height: 100px;
    width: 100px;
}

.item-header h1 {
    margin-bottom: 0;
}

.item-flex-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 64px;
}

.item-header-first-collum {
    width: 400px;
    margin-left: 5px;
}

.item-header-second-collum {
    width: 120px;
    margin: auto;
}

.item-header-second-collum input {
    display: block;
    width: 75px;
    height: 27px;
    margin: auto;
}

.item-header-second-collum select {
    display: block;
    margin: auto;
}

.item-options {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 1px;
    height: 54px;
}

.item-option-tickbox {
    display: flex;
    height: 27px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.item-collum {
    text-align: center;
    width: 168px;
}

.item-collum label{
    display: block;
}

.item-row {
    display: flex;
    text-align: center;
}

.item-second-collum{
    text-align: center;
    width: 50%;
}

.item-second-collum label{
    display: block;
    width: 100%;
}

.weapon-dmg-type{
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    width: 100px;
    margin: auto;
}

.weapon-dmg-type label {
    display: flex;
    margin: auto;
    align-items: center;
}

.item-bottom-table {
    text-align: center;
}

.item-bottom-table input{
    display: block;
    width: 75px;
    height: 27px;
    margin: auto;
}

.item-effect {
    width: 90% !important;
}

.item-bottom-table-one {
    width: 200px;
}

.double-digit {
    width: 3em !important;
    height: 27px !important;
    display: block;
    margin: auto !important;
}

.item-stat-table select{
    display: block;
    margin: auto;
}

.item-table {
    text-align: center;
}