.left-loot-border {
    border-right: solid 1px;
    width: 150px;
    height: 100%;
}  

.loot-img {
    max-width: 140px;
    margin-top: 10px;
    border-width: 0px;
}

.item-section{
    flex: 1
}

.hidden-view {
    background-color: silver;
}

.hidden-from-view {
    display: none
}

.table-empty-space {
    width: 30px;
}

.table-empty-end-space {
    width: 75px;
}