.monster-flex {
  display: flex;
}

.monster-left-sidebar {
  width: 140px;
  flex: none;
}

.monster-left-sidebar input {
  display: flex;
  font-weight: bold;
  width: 35px;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center;
}

.monster-stat-title label {
  font-weight: bold;
  margin-left: 4px;
}

.monster-stat-display {
  display: flex;
}

.monster-stat-button {
  width: 65px;
  height: 26px;
  background-color: darkred;
  border-radius: 12px;
  color: white;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.monster-stat-button:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.monster-stat-display label {
  font-weight: bold;
  width: 55px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monster-armor {
  display: flex;
}

.monster-armor label {
  font-weight: bold;
  float: left;
  width: 90px;
  margin: 5px;
}

.monster-HPSTA {
  display: flex;
}

.monster-HPSTA label {
  font-weight: bold;
  width: 49px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monster-header-center {
  width: 380px;
}

.monster-header-center label {
  font-weight: bold;
}

input.small {
    width: 30px;
}

.monster-img {
  width: 375px;
  height: 500px;
}

.monster-info {
  position: relative;
  top: -135px;
  left: 10px;
  width: 250px;
  background-color: silver;
  font-size: 12px;
}

.monster-info input {
  height: 18px;
}

.monster-right-sidebar {
  margin-left: 10px;
  flex: 1;
}

.monster-knowledge {
  width: 515px;
  position: relative;
  top: -100px;
  margin-top: 10px;
}