.profession-card .editor {
    height: 150px;
}

.profession-card {
    min-width: 250px;
    max-width: 400px;
    margin: 5px;
}

.profession-card i {
    margin: 5px;
}

.profession-notes .editor {
    height: 200px;
    width: 700px;
}
