.flex {
  display: flex;
}

.text-centered {
  align-items: center;
  justify-content: center;
}

/* Navigation tabs */
.sheet nav.sheet-tabs { 
  height: 32px;
  flex: 0 0 32px;
  margin: 4px 0;
  line-height: 32px;
  border-top: 1px solid #06171E;
  border-bottom: 1px solid #06171E;
  background-color:#1C6888;
  color: white;
}

/* Sheet min widths */
.witcher.sheet.actor {
  min-width: 805px;
  max-width: 805px;
  min-height: 400px;
}
.witcher.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

/* App theme edits */
.window-header {
  flex: 0 0 30px;
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  border-bottom: 1px solid #000;
  background-color: #1C6888;
}
.item-spell .window-header{
  background-color: #AB0D55;
}
.item-diagrams .window-header{
  background-color: #80471B;
}
.item-component .window-header{
  background-color: #80471B;
}
.item-mutagen .window-header{
  background-color: #2A4E0A;
}

.actor-sheet-header {
  display: flex;
}
.left-sidebar {
  width: 140px;
  flex: none;
}
.right-sidebar {
  margin-left: 10px;
}

.stat-display {
  display: flex;
  width: 250px;
}

.stat-display input {
  width: 35px;
}
.stat-display label {
  padding: 5px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hp-content{
  margin-bottom: -20px;
}


.armor-display {
  display: flex;
  width: 250px;
}

.armor-display input {
  width: 35px;
}
.armor-display label {
  padding: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  margin-left: 10px;
}

.actor-img {
  height: 175px;
  width: 175px;
}

.skill-column {
  margin: 5px;
}

.table-skills {
  width: 175px;
}

.input-skill {
  width: 25px;
}

.profession-card {
  width: 250px;
  margin: 5px;
}

.profession-layout {
  flex-direction: column;
  display: flex;
  align-items: center;
}

input.profession-level {
  color: white;
  width: 35px;
}

input.profession-skill-input {
  color: white;
}

.defining-skill-select{
  background-color: grey;
  color: white;
}

.defining-skill-header {
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
}

.defining-skill {
  background-color: lightgrey;
}

.first-path-select{
  background-color: blue;
  color: white;
}

.first-path-header {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
}

.first-path {
  background-color: lightskyblue;
}

.second-path-select{
  background-color: green;
  color: white;
}

.second-path-header {
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
}

.second-path {
  background-color: lightgreen;
}

.third-path-select{
  background-color: red;
  color: white;
}
.third-path-header {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.third-path {
  background-color: lightcoral;
}

input.item-quantity{
  width: 30px;
}

.lifeEvents {
  margin: 10px;
}

.events {
  width: 45px;
}

.weapon-item {
  width: 380px;
}
.weapon-section {
  width:450px;
}

.item-info {
  width: 380px;
  background-color: lightgray;
}

.label-info {
  margin-left: 5px;
}

.fa-info {
  margin: 5px;
  width: 10px;
}
.item-delete {
  margin: 5px;
}
.item-edit {
  margin: 5px;
}
.fa-info {
  margin: 5px;
  width: 10px;
}
.info-filler {
  width: 45px;
}
.qty-filler {
  width: 20px;
}
.weapon-name-header {
  width: 190px;
}
.damage-header {
  width: 50px;
}
.range-header {
  width: 50px;
}
input.range-info {
  width: 70px;
}
input.damage-info {
  width: 55px;
}
input.reliable-info {
  width: 35px;
}

.armor-section {
  margin-left: 10px;
  width: 380px;
}

.armor-name-header {
  width: 230px;
}

.stopping-header {
  width: 30px;
}

input.stopping-info {
  width: 50px;
}

.hidden {
  display: none;
}

.valuable-section {
  margin-right: 10px;
}
.valuable-table {
  width: 450px;
}

.substance-img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.substance-header {
  display: flex;
  align-items: center;
}
.substance-header label {
  width: 100px;
  margin-right: 5px;
  text-align: end;
}

.item-substance-display {
  margin-left: 5px;
}

.component-section {
  width: 500px;
}

.alchemical-effect {
  width: 330px;
}
.learned-data {
  width: 75px
}

input.weight-data {
  width: 30px;
}

.components-display input{
  width: 25px;
}
input.sta-input {
  width: 25px;
}

.magic-info {
  width: 250px;
  background-color: lightslategray;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.char-info {
  padding: 10px;
  width: 250px;
  background-color: lightslategray;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.skill-info {
  background-color: lightslategray;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

input.focus-value {
  background-color: lightsteelblue;
  width: 25px;
}

input.focus {
  background-color: lightsteelblue;
}

.spell-section {
  width: 450px;
  margin-right: 10px;
}

.magic-section {
  width: 400px;
}

.magic-value-display {
  margin-right: 10px;
  margin-left: 20px;
}

.dice-sucess{
  background-color: lightgreen;
  text-align: center;
}
.dice-fail{
  background-color: lightpink;
  text-align: center;
}

.profession-card i {
  margin: 5px;
}

.dice-display {
  text-align: center;
}
.item-delete {
  width: 15px;
}

input.small {
  width: 30px;
}

input.medium {
  width: 100px;
}

input.spell-sta {
  width: 25px;
}

input.spell-roll-value {
  width: 200px;
}

.chat-message{
  flex-direction: column;
}

.resource label{
  margin-left: 10px;
}

.weightbar{
  background-color: grey;
  width: 100%;
  height: 15px;
}
.weightbar-overweight{
  background-color: red;
  width: 100%;
  height: 15px;
}
.prof-name{
  flex: 1;
}
.prof-item-delete{
  float: right;
}

.stat-title {
  margin-left: 55px;
}

.monster-img {
  width: 375px;
  height: 500px;
}

.category-img {
  position: relative;
  left: 20px;
  top: 100px;
}
.cat-img{
  height: 75px;
  width: 75px;
  margin-top: -150px;
  border: none;
}

.monster-info {
  position: relative;
  top: -135px;
  left: 10px;
  width: 250px;
  background-color: silver;
  font-size: 12px;
}

.monster-info input {
  height: 18px;
}

.monster-right-sidebar {
  margin-left: 10px;
  flex: 1;
}

.monster-knowledge {
  width: 515px;
  position: relative;
  top: -130px;
  margin-top: 10px;
}
input.skill-value {
  width: 25px;
}

.ressource {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ressource label{
  margin-right: 10px;
}

.hp-img {
  height: 60px;
  width: 60px;
  border: none;
}

input.hp-value {
  position: relative;
  top: -25px;
  left: -50px;
  border: none;
  width: 40px;
  background: none;
  font-size: 25px;
}
input.hp-value:focus {
  border: none;
}

.hp-max {
  position: relative;
  top: -25px;
  left: 50px;
}

.stamina{
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-radius: 100%;
  border:white solid 5px;
}

input.sta-value {
  top: 5px;
  position: relative;
  border: none;
  width: 40px;
  background: none;
  font-size: 25px;
}
input.sta-value:focus {
  border: none;
}

.sta-max{
  position: relative;
  left: 40px;
}


input.resolve-value {
  top: 5px;
  position: relative;
  border: none;
  width: 40px;
  background: none;
  font-size: 25px;
}
input.resolve-value:focus {
  border: none;
}
.resolve-max{
  position: relative;
  left: 40px;
}


.stat-focus{
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border-radius: 100%;
  border:white solid 5px;
}

input.stat-focus-value {
  top: 5px;
  position: relative;
  border: none;
  width: 40px;
  background: none;
  font-size: 25px;
}
input.stat-focus-value:focus {
  border: none;
}
.stat-focus-max{
  position: relative;
  left: 40px;
}


.perk {
  margin:5px
}

.flex-header {
    align-items: center;
}

.bg-note {
  width: 32%;
  float: left;
  margin-right: 5px;
}
.add-item {
  margin-right: 5px;
}
.substance-img {
  border: none;
}

.skill-display {
  margin-left: 10px;
}

.item-img{
  width: 25px;
  height: 25px;
}

.crit-wounds {
  background-color: red;
  width: 450px;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.weight-value {
  margin: auto;
  width: min-content;
  position: relative;
  top: 16px;
  color: white;
}

.wound {
  margin-right: 5px;
  margin-left: 5px;
}

.luck-img{
  width: 70px;
  border: none;
  margin-left: -5px;
}

input.luck-value {    
  left: -58px;
  top: -20px;
  position: relative;
  border: none;
  width: 40px;
  background: none;
  font-size: 25px;
}

.luck-max{
  position: relative;
  left: 45px;
  top: -18px;
}

.luck{
  margin-bottom: -20px;
}

.resolve{
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 100%;
  border:white solid 5px;
}

.spacer {
  height: 55px;
}

.left-loot-border {
  border-right: solid 1px;
  width: 150px;
  height: 100%;
}