.flex {
  display: flex;
}

/* Navigation tabs */
.sheet nav.sheet-tabs { 
  height: 32px;
  flex: 0 0 32px;
  margin: 4px 0;
  line-height: 32px;
  border-top: 1px solid #06171E;
  border-bottom: 1px solid #06171E;
  background-color:#1C6888;
  color: white;
  text-align: center;
}

/* Sheet min widths */
.witcher.sheet.actor {
  min-width: 805px;
  max-width: 805px;
  min-height: 400px;
}
.witcher.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

/* App theme edits */
.window-header {
  flex: 0 0 30px;
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  border-bottom: 1px solid #000;
  background-color: #1C6888;
}
.item-spell .window-header{
  background-color: #AB0D55;
}
.item-diagrams .window-header{
  background-color: #80471B;
}
.item-component .window-header{
  background-color: #80471B;
}
.item-mutagen .window-header{
  background-color: #2A4E0A;
}

.actor-sheet-header {
  display: flex;
}

.hp-content{
  margin-bottom: -20px;
}


.armor-display {
  display: flex;
  width: 250px;
}

.armor-display input {
  width: 35px;
}
.armor-display label {
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-skill {
  width: 25px;
}

.profession-card {
  width: 250px;
  margin: 5px;
}

.profession-layout {
  flex-direction: column;
  display: flex;
  align-items: center;
}

input.profession-level {
  color: white;
  width: 35px;
}

input.profession-skill-input {
  color: white;
}

.defining-skill-select{
  background-color: grey;
  color: white;
}

.defining-skill-header {
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
}

.defining-skill {
  background-color: lightgrey;
}

.first-path-select{
  background-color: blue;
  color: white;
}

.first-path-header {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
}

.first-path {
  background-color: lightskyblue;
}

.second-path-select{
  background-color: green;
  color: white;
}

.second-path-header {
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
}

.second-path {
  background-color: lightgreen;
}

.third-path-select{
  background-color: red;
  color: white;
}
.third-path-header {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.third-path {
  background-color: lightcoral;
}

input.item-quantity{
  width: 45px;
}

.events {
  width: 45px;
}

.weapon-item {
  width: 380px;
}
.weapon-section {
  width:450px;
}

.item-info {
  width: 380px;
  background-color: lightgray;
}

.label-info {
  margin-left: 5px;
}

.fa-info {
  margin: 5px;
  width: 10px;
}
.item-delete {
  margin: 5px;
  width: 15px;
}
.item-edit {
  margin: 5px;
}
.fa-info {
  margin: 5px;
  width: 10px;
}
.info-filler {
  width: 45px;
}
.qty-filler {
  width: 20px;
}
.weapon-name-header {
  width: 190px;
}
.damage-header {
  width: 50px;
}
.range-header {
  width: 50px;
}
input.range-info {
  width: 70px;
}
input.damage-info {
  width: 55px;
}
input.reliable-info {
  width: 35px;
}

.armor-section {
  margin-left: 10px;
  width: 380px;
}

.armor-name-header {
  width: 230px;
}

.stopping-header {
  width: 30px;
}

input.stopping-info {
  width: 50px;
}

.hidden {
  display: none;
}

.valuable-section {
  margin-right: 10px;
}
.valuable-table {
  width: 450px;
}

.substance-img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.substance-header {
  display: flex;
  align-items: center;
}
.substance-header label {
  width: 100px;
  margin-right: 5px;
  text-align: end;
}

.item-substance-display {
  margin-left: 5px;
}

.component-section {
  width: 500px;
}

.alchemical-effect {
  width: 330px;
}
.learned-data {
  width: 75px
}

input.weight-data {
  width: 30px;
}

.components-display input{
  width: 25px;
}
input.sta-input {
  width: 25px;
}

.magic-info {
  width: 250px;
  background-color: lightslategray;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

input.focus-value {
  background-color: lightsteelblue;
  width: 25px;
}

input.focus {
  background-color: lightsteelblue;
}

.spell-section {
  width: 450px;
  margin-right: 10px;
}

.magic-section {
  width: 400px;
}

.magic-value-display {
  margin-right: 10px;
  margin-left: 20px;
}

.dice-sucess{
  background-color: lightgreen;
  text-align: center;
}
.dice-fail{
  background-color: lightpink;
  text-align: center;
}

.profession-card i {
  margin: 5px;
}

.dice-display {
  text-align: center;
}

input.small {
  width: 30px;
}

input.small-medium {
  width: 50px;
}

input.medium {
  width: 100px;
}

input.spell-sta {
  width: 25px;
}

input.spell-roll-value {
  width: 200px;
}

.chat-message{
  flex-direction: column;
}

.weightbar{
  background-color: grey;
  width: 100%;
  height: 15px;
}
.weightbar-overweight{
  background-color: red;
  width: 100%;
  height: 15px;
}
.prof-name{
  flex: 1;
}
.prof-item-delete{
  float: right;
}

.stat-title {
  margin-left: 55px;
}

input.skill-value {
  width: 25px;
}

.perk {
  margin:5px
}

.flex-header {
    align-items: center;
}

.add-item {
  margin-right: 5px;
}
.substance-img {
  border: none;
}

.item-img{
  width: 25px;
  height: 25px;
}

.weight-value {
  margin: auto;
  width: min-content;
  position: relative;
  top: 16px;
  color: white;
}

.left-loot-border {
  border-right: solid 1px;
  width: 150px;
  height: 100%;
}

.description {
  margin: 10px;
}

.crit-wounds {
  width: 450px;
  margin: 5px;
  padding: 10px;
}

.crit-wounds-table textarea {
  resize: vertical;
}

.crit-wound-description {
  margin-top: 10px;
}

.crit-wound-mod-description {
  margin-top: 5px;
}

.add-crit,
.delete-crit {
  margin: 5px;
  width: 15px;
}