.enhancement-slot {
    height: 30px;
    width: 30px;
    border: solid black 1px;
}

.item-enhancement {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.no-margin {
    margin: 0px;;
}

.currency {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapper { 
    position: relative;
}

.weightbar{
    background-color: grey;
    width: 100%;
    height: 12px;
}
  
.weight-value {
    color: white;
    position: absolute;
    right: 10px;
}

.item-img-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 44px;
}

.item-img-wrapper .item-show {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img-wrapper .item-show:hover {
  background: rgba(0, 0, 0, 0.3);
}

.item-img-wrapper .item-show .fa {
  display: none;
  color: rgb(200, 200, 200);
}

.item-img-wrapper .item-show:hover .fa {
  display: inline-block;
}