.editor {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.308);
}

.crit-wounds {
    background-color: red;
    width: 450px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    color: white;
  }

.lifeEvents {
  margin: 10px;
}

.add-item {
    margin-right: 5px;
}

.bg-note {
    width: 32%;
    float: left;
    margin-right: 5px;
}

.item-delete {
    margin: 5px;
    width: 15px;
}