.enhancement-slot {
    height: 30px;
    width: 30px;
    border: solid black 1px;
}

.item-enhancement {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.no-margin {
    margin: 0px;;
}

.currency {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#attackModifiers {
    display: none;
}

.wrapper { 
    position: relative;
}

.weightbar{
    background-color: grey;
    width: 100%;
    height: 12px;
}
  
.weight-value {
    color: white;
    position: absolute;
    right: 10px;
}