@import "./character-header.css";
@import "./armor-sheet.css";
@import "./system-styles.css";
@import "./monster-sheet.css";
@import "./tab-background.css";
@import "./tab-inventory.css";
@import "./tab-skills.css";
@import "./monster-skill-tab.css";
@import "./loot-sheet.css";
@import "./profession-sheet.css";
@import "./crit-wounds-table.css";
@import "./item-sheets.css";

@font-face {
    font-family:'Thewitcher';
    src:url('./fonts/thewitcher2.ttf');
}

.witcher-style{
    font-family: Thewitcher;
}